Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

rename projects
  apps/server/package.json
  apps/web/next.config.mjs
Due: none

add sentry sdk in channel-ingress lambda
  apps/channel-ingress/.gitignore
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/channel-ingress/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

don't upload sourcemaps
  apps/channel-ingress/package.json
  apps/server/package.json
Due: none

base org settings features
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/layout.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
Due: prettier --write

navbar org settings
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/shells/main-shell/main-shell.tsx
Due: prettier --write

auth fix in context.ts
  apps/server/src/context.ts
Due: prettier --write

graphql update
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Due: prettier --write

users table hide
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

pr fixes
  apps/web/messages/el.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
Due: prettier --write

change org name + access utils
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/access-utils.ts
Due: prettier --write

org name set & update
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
Due: prettier --write

users table base
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
Due: prettier --write

org name set & update
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/graphql/organization.graphql
Due: prettier --write

users table base
  apps/web/messages/en.json
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
Due: prettier --write

sneaky commit
  apps/web/src/components/misc/logo-full.tsx
Due: prettier --write

make defaultOrganizationId optional (#148)
  apps/server/src/context.ts
Due: prettier --write

don't generate integration auth url if already connected
  apps/server/package.json
  apps/server/src/schema/integrations/integration-types.ts
  packages/redis/src/ioredis.ts
Due: prettier --write

remove user status, rename default -> current organization
  apps/server/src/auth.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/access-utils.ts
  packages/database/prisma/migrations/20240628113002_remove_user_role/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

minor README.md change
  README.md
Due: prettier --write

list of small issues (#169)
  README.md
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/access-utils.ts
  packages/database/prisma/migrations/20240628113002_remove_user_role/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

user settings page & user update logic
  apps/web/src/app/(authenticated)/profile/actions.ts
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.module.scss
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/graphql/user.graphql
  apps/web/src/util/schemas/profile-schemas.ts
Due: prettier --write

fade in user settings
  apps/web/src/app/(authenticated)/profile/components/user-settings.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
Due: prettier --write

translations & styling fixes
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/user-button/user-button.module.scss
Due: none

profile fixes
  apps/web/src/app/(authenticated)/profile/actions.ts
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.module.scss
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(authenticated)/profile/components/user-settings.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/graphql/user.graphql
  apps/web/src/util/schemas/profile-schemas.ts
Due: prettier --write

async profile load
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-settings.tsx
  apps/web/src/app/(authenticated)/profile/layout.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
Due: prettier --write

password manager fix for password change via profile edit
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Due: prettier --write

form initialization on data fetching async fix
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Due: prettier --write

async loading for profile editing
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
Due: prettier --write

rebase conflicts/fixes
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Due: prettier --write

minor
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
Due: prettier --write

dirty form checking, url avatar fix & skeleton loading improved in edit profile
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/components/user-button/user-button.tsx
Due: prettier --write

implemented global state for user data
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Due: prettier --write

fixes
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Due: prettier --write

proper form reset after submit
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Due: prettier --write

make currentOrganization nullable
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/package.json
Due: prettier --write

make currentOrganization nullable fix
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
Due: prettier --write

revert watch prisma generate and codegen
  apps/server/package.json
Due: none

131 settings (#133)
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/profile/actions.ts
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.module.scss
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(authenticated)/profile/layout.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.module.scss
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/graphql/user.graphql
  apps/web/src/util/schemas/profile-schemas.ts
  packages/database/package.json
Due: prettier --write

disable web sentry locally
  apps/web/next.config.mjs
Due: none

disable web sentry locally (#171)
  apps/web/next.config.mjs
Due: none

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
