Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

don't require special character in password (#136)
  packages/utils/src/password-helper.ts
Due: prettier --write

supporting multiple organizations
  .idea/sqldialects.xml
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  package.json
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240614161905_support_multiple_organizations/migration.sql
  packages/database/prisma/migrations/20240614191559_rename_to_default_organization/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

supporting multiple organizations (#142)
  .idea/sqldialects.xml
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  package.json
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240614161905_support_multiple_organizations/migration.sql
  packages/database/prisma/migrations/20240614191559_rename_to_default_organization/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

create/delete organizations
  .husky/pre-commit
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/emailable-helper.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240615070509_emailtype/migration.sql
  packages/database/prisma/migrations/20240615144948_login_provider_ondelete_cascade/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

create/delete organizations (#143)
  .husky/pre-commit
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/emailable-helper.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240615070509_emailtype/migration.sql
  packages/database/prisma/migrations/20240615144948_login_provider_ondelete_cascade/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

add MIT licence
  LICENSE.txt
Due: none

create refresh AuthenticatedContext
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
Due: prettier --write

create refresh AuthenticatedContext (#145)
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
Due: prettier --write

make defaultOrganizationId optional
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/index.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
  packages/database/package.json
  packages/database/prisma/migrations/20240616191544_default_organization_optional/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

make defaultOrganizationId optional (#148)
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/index.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
  packages/database/package.json
  packages/database/prisma/migrations/20240616191544_default_organization_optional/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

fix wrong ORG_ADMIN
  apps/server/src/context.ts
Due: prettier --write

fix wrong ORG_ADMIN (#150)
  apps/server/src/context.ts
Due: prettier --write

fix resetPassword endpoint
  apps/server/src/schema/user/user-operations.ts
Due: prettier --write

fix resetPassword endpoint (#158)
  apps/server/src/schema/user/user-operations.ts
Due: prettier --write

improvements
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
Due: prettier --write

husky yaml & LF pre-commit
  .husky/pre-commit
  pnpm-lock.yaml
Due: none

linting fix
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
Due: prettier --write

db generate in precommit
  .husky/pre-commit
Due: none

disabled buttons (#154)
  .husky/pre-commit
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  pnpm-lock.yaml
Due: prettier --write

last synced and adCount
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240626100445_integration_last_sycned_at/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

last synced and adCount (#160)
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240626100445_integration_last_sycned_at/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

adCount & latest sync date in ad accounts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Due: prettier --write

translation
  apps/web/messages/en.json
Due: none

confirm user email - backend
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/utils/rate-limiter.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
  packages/database/prisma/migrations/20240618111749_user_status/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

expose user status in graphql
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

implemented on integrations and removed from accounts dropdown
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/integrations/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
Due: prettier --write

lint fix
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Due: prettier --write

FE changes for email confirmation
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(unauthenticated)/confirm-email/actions.ts
  apps/web/src/app/(unauthenticated)/confirm-email/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/middleware.ts
Due: prettier --write

add sentry sdk in server
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/instrument.ts
  pnpm-lock.yaml
Due: prettier --write

add source map
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/build-deploy-service.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-channel-ingress-production.yml
  .github/workflows/deploy-server-production.yml
  apps/server/.gitignore
  apps/server/package.json
  apps/server/tsconfig.json
  pnpm-lock.yaml
Due: none

adCount & latest sync date in ad accounts (#162)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/integrations/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/graphql/integration.graphql
Due: prettier --write

refactor
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Due: prettier --write

refactor (#164)
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Due: prettier --write

use enum & user types dto fix
  apps/server/src/schema/user/user-types.ts
  apps/web/src/middleware.ts
Due: prettier --write

remove old todo
  apps/web/src/middleware.ts
Due: prettier --write

return to sign in page option
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(unauthenticated)/confirm-email/page.tsx
Due: prettier --write

confirm user email (#159)
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/server/src/utils/rate-limiter.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(unauthenticated)/confirm-email/actions.ts
  apps/web/src/app/(unauthenticated)/confirm-email/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/middleware.ts
  package.json
  packages/database/prisma/migrations/20240618111749_user_status/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

update turbo
  package.json
  pnpm-lock.yaml
Due: none

add sentry sdk in nextjs
  .github/workflows/deploy_frontend.yml
  apps/server/src/instrument.ts
  apps/web/.gitignore
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/src/app/global-error.tsx
  apps/web/src/instrumentation.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

install sentry-cli as dev dependency
  apps/channel-ingress/package.json
  apps/server/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
