Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

transition to endpoint_interface security group
  infrastructure/modules/workspace/vpc.tf
Due: terraform fmt

introduce vpc endpoints
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/workspace/vpc.tf
  infrastructure/modules/workspace/workspace_outputs.tf
Due: terraform fmt

remove batch security group
  infrastructure/modules/environment/channel-report.tf
Due: terraform fmt

process report in batch
  apps/channel-report/package.json
  apps/channel-report/src/config.ts
  apps/channel-report/src/index.ts
  apps/server/src/config.ts
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/server_secrets.tf
  infrastructure/modules/service/service_iam.tf
  infrastructure/modules/service/service_outputs.tf
  infrastructure/modules/service/service_variables.tf
  infrastructure/modules/workspace/vpc.tf
  packages/channel-utils/src/integration-util.ts
  packages/channel/package.json
  packages/channel/src/report-process.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

process report in batch (#360)
  apps/channel-report/package.json
  apps/channel-report/src/config.ts
  apps/channel-report/src/index.ts
  apps/server/src/config.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  infrastructure/modules/environment/sns.tf
  infrastructure/modules/service/service_iam.tf
  infrastructure/modules/service/service_outputs.tf
  infrastructure/modules/service/service_variables.tf
  infrastructure/modules/workspace/vpc.tf
  infrastructure/modules/workspace/workspace_outputs.tf
  packages/channel-utils/src/integration-util.ts
  packages/channel/package.json
  packages/channel/src/report-process.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

allow server to submit batch jobs
  infrastructure/modules/environment/environment.tf
Due: terraform fmt

add ssm vpc endpoint
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/workspace/vpc.tf
Due: terraform fmt

add nat firewall
  infrastructure/modules/workspace/vpc.tf
Due: terraform fmt

finish batch when report is processed
  apps/channel-report/src/index.ts
Due: prettier --write

355-use-aws-batch-to-process-channel-reports (#361)
  apps/channel-report/src/index.ts
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/workspace/vpc.tf
Due: prettier --write, terraform fmt

allow required egress ports for channel report
  infrastructure/modules/environment/channel-report.tf
Due: terraform fmt

355-use-aws-batch-to-process-channel-reports (#362)
  apps/channel-report/src/index.ts
  infrastructure/modules/environment/channel-report.tf
Due: prettier --write, terraform fmt

use redis for report check instead of queue
  apps/channel-report/src/index.ts
  infrastructure/modules/environment/sns.tf
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/index.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel-utils/src/report-async-start.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

use redis for report check instead of queue (#363)
  apps/channel-report/src/index.ts
  infrastructure/modules/environment/sns.tf
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/index.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel-utils/src/report-async-start.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

cpm could be null (if impressions are 0)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

cpm could be null (if impressions are 0) (#365)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

tone down report process compute
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  packages/channel/src/report-process.ts
Due: prettier --write, terraform fmt

add more logging around batch report processing
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/integration-helper.ts
  packages/channel/src/report-process.ts
  packages/redis/src/ioredis.ts
Due: prettier --write

355-use-aws-batch-to-process-channel-reports (#369)
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/integration-helper.ts
  packages/channel/src/report-process.ts
  packages/redis/src/ioredis.ts
Due: prettier --write, terraform fmt

don't hardcode initial: false in checkReports
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/report-process.ts
Due: prettier --write

don't hardcode initial: false in checkReports (#370)
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/report-process.ts
Due: prettier --write

increase the max vCPUs in report compute
  infrastructure/modules/environment/channel-report.tf
Due: terraform fmt

add more logs when reports fail
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel/src/report-process.ts
Due: prettier --write

355-use-aws-batch-to-process-channel-reports (#371)
  infrastructure/modules/environment/channel-report.tf
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel/src/report-process.ts
Due: prettier --write, terraform fmt

increase cpu/memory
  infrastructure/modules/environment/channel-report.tf
Due: terraform fmt

fix dynamic batch policy document
  infrastructure/modules/environment/environment.tf
Due: terraform fmt

downgrade job description cpu/memory
  infrastructure/modules/environment/channel-report.tf
Due: terraform fmt

introduce retry in fb calls
  packages/channel-meta/package.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Due: prettier --write

355-use-aws-batch-to-process-channel-reports (#372)
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  packages/channel-meta/package.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

handle 500 errors on insights
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Due: prettier --write

handle 500 errors on insights (#373)
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Due: prettier --write

disallow view/update adAccounts when you are not admin in the parent organization
  apps/server/src/schema/organization/organization-operations.ts
Due: prettier --write

disallow view/update adAccounts when you are not admin in the parent organization (#375)
  apps/server/src/schema/organization/organization-operations.ts
Due: prettier --write

introduced errored integration
  .idea/dataSources.xml
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/database/prisma/migrations/20240818123348_add_integration_status_errored/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

introduced errored integration (#377)
  .idea/dataSources.xml
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/database/prisma/migrations/20240818123348_add_integration_status_errored/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

enable again periodic channel data ingress
  infrastructure/modules/environment/sns.tf
Due: terraform fmt

enable again periodic channel data ingress (#379)
  infrastructure/modules/environment/sns.tf
Due: terraform fmt

don't retry failed jobs
  packages/channel/src/report-process.ts
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
