Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

enable channel report sns subscription
  infrastructure/modules/environment/sns.tf
Due: terraform fmt

enable channel report sns subscription (#347)
  infrastructure/modules/environment/sns.tf
Due: terraform fmt

fix meta token expiration date
  packages/channel-meta/src/channel-meta.ts
Due: prettier --write

fix meta token expiration date (#348)
  packages/channel-meta/src/channel-meta.ts
Due: prettier --write

fire and forget process report
  packages/channel-meta/src/channel-meta.ts
  packages/channel/src/report-process.ts
Due: prettier --write

fire and forget process report (#350)
  packages/channel-meta/src/channel-meta.ts
  packages/channel/src/report-process.ts
Due: prettier --write

lighten the report sqs load
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
  packages/redis/src/ioredis.ts
  packages/utils/src/object-helper.ts
Due: prettier --write

lighten the report sqs load (#352)
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
  packages/redis/src/ioredis.ts
  packages/utils/src/object-helper.ts
Due: prettier --write

retry data ingress in failure
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/report-process.ts
Due: prettier --write

retry data ingress in failure (#353)
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/report-process.ts
Due: prettier --write

sortObjectKeysAndValues honors dates
  packages/utils/src/object-helper.ts
Due: prettier --write

sortObjectKeysAndValues honors dates (#354)
  packages/utils/src/object-helper.ts
Due: prettier --write

create compute, queue and repo
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/workspace/workspace_outputs.tf
Due: terraform fmt

Revert "335-increase-the-insights-range-to-year-to-date-add-quarter-interval (#339)"
  .github/workflows/deploy-lambdas-prod.yml
  apps/channel-report/.eslintrc.cjs
  apps/channel-report/.gitignore
  apps/channel-report/package.json
  apps/channel-report/src/index.ts
  apps/channel-report/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

update pnpm
  package.json
Due: none

update turbo
  package.json
  pnpm-lock.yaml
Due: none

hello world channel report
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/deploy-services-production.yml
  apps/channel-report/Dockerfile
  apps/channel-report/package.json
  apps/channel-report/src/index.ts
  apps/channel-report/src/instrument.ts
  apps/server/.gitignore
  pnpm-lock.yaml
Due: prettier --write

#355 hello world channel report (#356)
  .github/workflows/deploy-services-production.yml
  apps/channel-report/.eslintrc.cjs
  apps/channel-report/.gitignore
  apps/channel-report/Dockerfile
  apps/channel-report/package.json
  apps/channel-report/src/index.ts
  apps/channel-report/src/instrument.ts
  apps/channel-report/tsconfig.json
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/workspace/workspace_outputs.tf
  package.json
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

add security group in compute
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
Due: terraform fmt

connected integration product auth url
  apps/server/src/schema/integrations/integration-types.ts
Due: prettier --write

355 use aws batch to process channel reports (#357)
  apps/server/src/schema/integrations/integration-types.ts
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
Due: prettier --write, terraform fmt

fix channel report service name
  .github/workflows/deploy-web.yml
  infrastructure/modules/environment/channel-report.tf
Due: terraform fmt

fix channel report service name (#359)
  .github/workflows/deploy-web.yml
  infrastructure/modules/environment/channel-report.tf
Due: terraform fmt

remove batch service role
  infrastructure/modules/environment/channel-report.tf
Due: terraform fmt

remove batch
  infrastructure/modules/environment/channel-report.tf
Due: terraform fmt

fix? batch service role
  infrastructure/modules/environment/channel-report.tf
Due: terraform fmt

create job definition
  infrastructure/modules/environment/channel-report.tf
Due: terraform fmt

increase app_runner cpu
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

move compute to public subnet
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment_variables.tf
Due: terraform fmt

move app runner back to private subnet
  infrastructure/modules/environment/channel-report.tf
Due: terraform fmt

create nat
  infrastructure/modules/workspace/vpc.tf
Due: terraform fmt

Revert "create nat"
  infrastructure/modules/workspace/vpc.tf
Due: terraform fmt

increase the sync freq to 1 week
  infrastructure/modules/environment/sns.tf
Due: terraform fmt

Revert "increase app_runner cpu"
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

rename roles
  infrastructure/modules/environment/channel-report.tf
Due: terraform fmt

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
