Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

Remove lint errors
  apps/server/package.json
  apps/web/src/app/page.tsx
  packages/database/package.json
  packages/database/src/client.ts
  packages/database/src/seed.ts
  packages/logger/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0

Ignore chat sessions
  .gitignore
  .idea/copilot/chatSessions/blobs/version
  .idea/copilot/chatSessions/xd.lck
Due: none

Dockerize server
  .dockerignore
  apps/server/Dockerfile
  apps/server/package.json
  apps/server/src/schema/index.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/tsconfig.json
  packages/config-typescript/app.json
  packages/config-typescript/base.json
  packages/config-typescript/nextjs.json
  packages/database/package.json
  packages/database/src/client.ts
  packages/database/src/seed.ts
  packages/database/tsconfig.json
  packages/logger/package.json
  packages/logger/tsconfig.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0

Add codegen to husky
  .husky/pre-commit
Due: none

Add github actions (unverified)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/commit_guidelines.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/pr_guidelines.md
  .github/workflows/auto-update.yml
  .github/workflows/build-deploy-service.yml
  .github/workflows/build-push-lambda.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/ghcr-retention.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-stale.yml
Due: none

Create organization
  .idea/dataSources.xml
  .terraformignore
  infrastructure/.gitignore
  infrastructure/environments/management/management.tf
  infrastructure/environments/management/management_variables.tf
Due: terraform fmt

Create oidc
  .github/workflows/build-push-lambda.yml
  .github/workflows/deploy-production.yml
  infrastructure/environments/management/management.tf
  infrastructure/environments/management/management_outputs.tf
  infrastructure/modules/iam/iam_outputs.tf
  infrastructure/modules/iam/iam_variables.tf
  infrastructure/modules/iam/terraform.tf
  infrastructure/modules/thumbprint.sh
Due: terraform fmt

Create prod account
  infrastructure/environments/management/management.tf
Due: terraform fmt

Create giorgos user
  infrastructure/environments/management/management.tf
  infrastructure/environments/management/management_variables.tf
Due: terraform fmt

Create groups and permissions
  infrastructure/environments/management/groups.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/management/users.tf
Due: terraform fmt

Fix lint
  apps/server/tsconfig.json
Due: none

Add prettier
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pr_guidelines.md
  .prettierignore
  apps/server/src/google.ts
  package.json
Due: prettier --write, eslint --max-warnings=0

Add prod workspace
  .github/workflows/pr-labeler.yml
  infrastructure/environments/management/management.tf
  infrastructure/environments/management/management_outputs.tf
  infrastructure/environments/management/terraform.tf
  infrastructure/environments/management/users.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_outputs.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/iam/iam_outputs.tf
  infrastructure/modules/iam/iam_variables.tf
Due: terraform fmt

Add vpc, subnets, routes
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/workspace/github.tf
  infrastructure/modules/workspace/vpc.tf
  infrastructure/modules/workspace/workspace.tf
  infrastructure/modules/workspace/workspace_outputs.tf
  infrastructure/modules/workspace/workspace_variables.tf
Due: terraform fmt

Add frontend and route53
  .npmrc
  infrastructure/environments/management/groups.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/environment_outputs.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
  infrastructure/modules/ses/forgot-password-en.html
  infrastructure/modules/ses/forgot-password-en.txt
  infrastructure/modules/ses/ses.tf
  infrastructure/modules/ses/ses_outputs.tf
  infrastructure/modules/ses/ses_variables.tf
  infrastructure/modules/workspace/github.tf
Due: terraform fmt

Add amplify buildSpec
  amplify.yml
  customHttp.yml
Due: none

Add amplify buildSpec
  amplify.yml
  customHttp.yml
  infrastructure/environments/management/groups.tf
  infrastructure/environments/management/users.tf
Due: terraform fmt

Add certificates
  infrastructure/modules/environment/route53.tf
Due: terraform fmt

Domain association FE
  infrastructure/environments/prod/prod_outputs.tf
Due: terraform fmt

Create certificates in us-east-1
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/route53.tf
  infrastructure/modules/ses/forgot-password-en.html
  infrastructure/modules/ses/forgot-password-en.txt
  infrastructure/modules/ses/ses.tf
Due: terraform fmt

Redirect to non-www
  infrastructure/modules/environment/frontend.tf
Due: terraform fmt

Add ecr
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-production.yml
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/security_group.tf
  infrastructure/modules/service/service.tf
  infrastructure/modules/service/service_iam.tf
  infrastructure/modules/service/service_outputs.tf
  infrastructure/modules/service/service_variables.tf
Due: terraform fmt

Allow to push in ecr
  infrastructure/modules/service/service_iam.tf
Due: terraform fmt

Change domain
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
  infrastructure/modules/environment/server_secrets.tf
  infrastructure/modules/workspace/github.tf
  infrastructure/modules/workspace/workspace_variables.tf
  package.json
Due: terraform fmt

Add existing dns entries
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
Due: terraform fmt

Change domain in ci/cd
  .github/workflows/deploy-production.yml
Due: none

Crete vercel app
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/frontend.tf
Due: terraform fmt

Remove domain_association for now
  infrastructure/modules/environment/frontend.tf
Due: terraform fmt

Update .npmrc for vercel
  .npmrc
Due: none

Add root_directory to vercel app
  infrastructure/modules/environment/frontend.tf
Due: terraform fmt

Add dev,build,install command
  infrastructure/modules/environment/frontend.tf
Due: terraform fmt

Recreate vercel
  infrastructure/modules/environment/frontend.tf
Due: terraform fmt

Add vercel domain
  infrastructure/modules/environment/frontend.tf
Due: terraform fmt

Remove amplify
  infrastructure/modules/environment/frontend.tf
Due: terraform fmt

Create database url secret
  .idea/dataSources.xml
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

Add app runner policies
  infrastructure/modules/service/service_iam.tf
Due: terraform fmt

Create app runner
  apps/server/src/config.ts
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/server_secrets.tf
  infrastructure/modules/service/app_runner.tf
  infrastructure/modules/service/service_iam.tf
  infrastructure/modules/service/service_variables.tf
Due: prettier --write, eslint --max-warnings=0, terraform fmt

Fix database regex schema
  .idea/dataSources.xml
  apps/server/src/config.ts
  package.json
  packages/database/src/config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0

Add db migrations in ci/cd
  .github/workflows/auto-update.yml
  .github/workflows/build-deploy-service.yml
  .github/workflows/ci.yml
Due: none

Path conditions:
  prettier --write: (any of: *.graphql) or (any of: *.ts)
  eslint --max-warnings=0: any of: *.ts
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
