Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

introducing milestones in the backend
  .github/workflows/deploy-vercel.yml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241013072144_users_milestones/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

introducing milestones in the backend (#597)
  .github/workflows/deploy-vercel.yml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241013072144_users_milestones/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

force arrow function and lint deprecated code
  apps/backoffice/src/app/actions.ts
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/profile/actions.ts
  apps/web/src/app/actions.ts
  packages/config-eslint/library.cjs
  packages/config-eslint/next.cjs
  packages/config-eslint/package.json
  packages/config-eslint/react.cjs
  pnpm-lock.yaml
Due: prettier --write

add max-warnings in lint:fix
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/react.cjs
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mappings/src/tier-mapping.ts
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/ui/src/tailwind-utils.ts
  packages/utils/package.json
Due: prettier --write

generate prisma in vercel-fn workflow
  .github/workflows/deploy-vercel-fn.yml
Due: none

force arrow function and lint deprecated code (#601)
  .github/workflows/deploy-vercel-fn.yml
  apps/backoffice/package.json
  apps/backoffice/src/app/actions.ts
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/profile/actions.ts
  apps/web/src/app/actions.ts
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/library.cjs
  packages/config-eslint/next.cjs
  packages/config-eslint/package.json
  packages/config-eslint/react.cjs
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mappings/src/tier-mapping.ts
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/ui/src/tailwind-utils.ts
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write

use inputs.app in find&replace
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Due: none

try again
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Due: none

Revert "try again"
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Due: none

try again 2
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Due: none

remove NEXT_PUBLIC_REAL_GRAPHQL_ENDPOINT from landing page
  apps/landing-page/.env.production
  apps/landing-page/next.config.mjs
  apps/landing-page/src/env.mjs
Due: none

rename NEXT_PUBLIC_REAL_GRAPHQL_ENDPOINT to GRAPHQL_ENDPOINT
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  turbo.json
Due: prettier --write

use inputs.app in find&replace (#603)
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/landing-page/.env.production
  apps/landing-page/next.config.mjs
  apps/landing-page/src/env.mjs
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  turbo.json
Due: prettier --write

conditionally run pr_comment
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Due: none

conditionally run pr_comment (#604)
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Due: none

remove cleanup workflow
  .github/workflows/cleanup-preview.yml
Due: none

crud search query strings
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/search-query/search-query-operations.ts
  apps/server/src/schema/search-query/search-query-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241014051740_search_query_strings/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

crud search query strings (#607)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/search-query/search-query-operations.ts
  apps/server/src/schema/search-query/search-query-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241014051740_search_query_strings/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

fix linked in revoke functionality
  packages/channel-linkedin/src/channel-linkedin.ts
Due: prettier --write

fix linked in revoke functionality (#610)
  packages/channel-linkedin/src/channel-linkedin.ts
Due: prettier --write

expose spendUsd in insights
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/currency-to-eur-cacheable.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
Due: prettier --write

expose spendUsd in insights (#612)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/currency-to-eur-cacheable.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
Due: prettier --write

updated datapoints logic
  packages/channel/src/insights-query-builder.ts
Due: prettier --write

tmp
  packages/channel/src/insights-query-builder.ts
  packages/utils/src/date-utils.ts
Due: prettier --write

updated tests & date bugfixes
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/utils/src/date-utils.ts
Due: prettier --write

modified test cases
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

dates within same week & updated test
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

Updated test
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

updated logic for the insights
  apps/server/src/schema/integrations/integration-types.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/utils/src/date-utils.ts
Due: prettier --write

updated logic
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

datapoints
  packages/channel/src/insights-query-builder.ts
Due: prettier --write

updated tests/refactoring
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

expose spendUsd in insights
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
Due: prettier --write

expose spendUsd in insights (#613)
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

579 fix dateto and from in getinsights (#586)
  apps/server/src/schema/integrations/integration-types.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/utils/src/date-utils.ts
Due: prettier --write

error linkedIn integration on revoke access token
  packages/channel-linkedin/src/channel-linkedin.ts
Due: prettier --write

error linkedIn integration on revoke access token (#616)
  packages/channel-linkedin/src/channel-linkedin.ts
Due: prettier --write

changed summary chart to show insights per publisher at the same time + added color utils and color generator for generating unique colors + cleanup
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/util/charts-utils.ts
  apps/web/src/util/color-utils.ts
  apps/web/src/util/url-query-utils.ts
Due: prettier --write

chart filtering fixes
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
