Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

.lintstagedrc.json:

{
  "*.graphql": ["prettier --write"],
  "*.ts": ["prettier --write"],
  "*.tsx": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.tf": "terraform fmt",
  "*.prisma": "prisma format --schema packages/database/prisma/schema.prisma"
}

Auto-update packages
  package.json
  pnpm-lock.yaml
Due: none

fix landing page build issue
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  pnpm-lock.yaml
Due: none

update packages
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: none

update-packages (#483)
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: none

fix types in forms
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  packages/database/prisma/migrations/20240831161053_email_citext/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

add autoComplete
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
Due: prettier --write

remove logs vpc endpoint
  infrastructure/modules/workspace/vpc.tf
Due: terraform fmt

fix landing page build issue (#480)
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  packages/database/prisma/migrations/20240831161053_email_citext/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

update dmarc email
  infrastructure/modules/environment/route53.tf
Due: terraform fmt

update readme to indicate that windows/wsl are not supported
  README.md
Due: prettier --write

fix hero form
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Hero/index.tsx
  apps/landing-page/src/env.mjs
  turbo.json
Due: prettier --write

change landing-page dns
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
Due: terraform fmt

fix hero form (#485)
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Hero/index.tsx
  apps/landing-page/src/env.mjs
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
  turbo.json
Due: prettier --write, terraform fmt

minor pricing changes
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/Pricing/index.tsx
Due: prettier --write

add users with roles when creating an organization
  .husky/pre-commit
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

minor pricing changes (#487)
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/Pricing/index.tsx
Due: prettier --write

graphql
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Due: prettier --write

446 sub organization include existing organization users (#488)
  .husky/pre-commit
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Due: prettier --write

Revert "446 sub organization include existing organization users (#488)"
  .husky/pre-commit
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Due: prettier --write

use env on web app url
  apps/landing-page/src/components/Pricing/index.tsx
Due: prettier --write

Revert "446 sub organization include existing organization users (#488)" (#489)
  .husky/pre-commit
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Due: prettier --write

remove unused eslint rule ignores
  apps/landing-page/src/components/Pricing/index.tsx
Due: prettier --write

486 small landing page changes (#490)
  apps/landing-page/src/components/Pricing/index.tsx
Due: prettier --write

removed location and phone number info
  apps/landing-page/src/components/Contact/index.tsx
Due: prettier --write

the netherlands :)
  apps/landing-page/src/components/Contact/index.tsx
Due: prettier --write

removed location and phone number info (#491)
  apps/landing-page/src/components/Contact/index.tsx
Due: prettier --write

update README.md with landing-page .env
  README.md
Due: prettier --write

redacted images
  apps/landing-page/public/images/features/features-dark-01.avif
  apps/landing-page/public/images/features/features-light-01.avif
  apps/landing-page/public/images/hero/hero-dark.avif
  apps/landing-page/public/images/hero/hero-light.avif
Due: none

redacted images (#492)
  apps/landing-page/public/images/features/features-dark-01.avif
  apps/landing-page/public/images/features/features-light-01.avif
  apps/landing-page/public/images/hero/hero-dark.avif
  apps/landing-page/public/images/hero/hero-light.avif
Due: none

add Dennis to developers in aws
  .idea/dataSources.xml
  infrastructure/environments/local/local_variables.tf
Due: terraform fmt

Update README.md
  README.md
Due: prettier --write

update commit/pr guidelines
  .github/commit_guidelines.md
Due: prettier --write

add backoffice in the pre-commit
  .husky/pre-commit
Due: none

remove ecr.dkr vpc endpoint
  infrastructure/modules/workspace/vpc.tf
Due: terraform fmt

feat: create tiers in organizations
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

fix: udpated the suggested changes
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

capitalization
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/invite-operations.ts
Due: prettier --write

generated sql
  packages/database/prisma/migrations/20240903172348_tier/migration.sql
Due: none

add sign in button
  apps/landing-page/src/components/Header/index.tsx
Due: prettier --write
