Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

.lintstagedrc.json:

{
  "*.graphql": ["prettier --write"],
  "*.ts": ["prettier --write"],
  "*.tsx": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.tf": "terraform fmt",
  "*.prisma": "prisma format --schema packages/database/prisma/schema.prisma"
}

refactored dbAccount logic for channel-google
  packages/channel-google/src/channel-google.ts
Due: prettier --write

Implemented pagination
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Due: prettier --write

refactored
  packages/channel-google/src/channel-google.ts
  pnpm-lock.yaml
Due: prettier --write

build fix
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Due: prettier --write

lint fix
  packages/channel/src/integration-helper.ts
Due: prettier --write

initial setup
  packages/channel-google/.eslintrc.cjs
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/index.ts
  packages/channel-google/tsconfig.json
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  pnpm-lock.yaml
Due: prettier --write

schema
  packages/channel-google/src/channel-google.ts
Due: prettier --write

creatives channel-google
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
Due: prettier --write

updated lock
  packages/channel-google/package.json
  pnpm-lock.yaml
Due: none

Save creatives fix
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Due: prettier --write

refactoring
  packages/channel-google/src/channel-google.ts
Due: prettier --write

manager account finder function/ refactoring
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/schema.ts
  packages/channel/src/integration-helper.ts
  turbo.json
Due: prettier --write

removed unnecessary query values
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Due: prettier --write

authentication completed, added google-ads-api
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel/src/integration-helper.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

enabled google
  apps/server/src/schema/integrations/integration-operations.ts
Due: prettier --write

updated env
  turbo.json
Due: none

removed duplicated schemas
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Due: prettier --write

added youtube ads fetch
  packages/channel-google/src/channel-google.ts
Due: prettier --write

getAdPreview for google
  packages/channel-google/src/channel-google.ts
Due: prettier --write

updated lock
  pnpm-lock.yaml
Due: none

Added insights for google
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

handle expired or revoked token
  packages/channel-google/src/channel-google.ts
Due: prettier --write

Added status
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Due: prettier --write

551 google data ingress (#628)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/.eslintrc.cjs
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/index.ts
  packages/channel-google/src/schema.ts
  packages/channel-google/tsconfig.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

add google in PublisherEnum
  packages/database/prisma/migrations/20241122142947_publiser_enm_google/migration.sql
Due: none

add google chanel env vars
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

add google chanel env vars
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

add google chanel env vars
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

Revert "add google chanel env vars"
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

Revert "Revert "add google chanel env vars""
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

Revert "551 google data ingress (#628)"
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/.eslintrc.cjs
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/index.ts
  packages/channel-google/src/schema.ts
  packages/channel-google/tsconfig.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Revert "Revert "551 google data ingress (#628)""
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/.eslintrc.cjs
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/index.ts
  packages/channel-google/src/schema.ts
  packages/channel-google/tsconfig.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

test
  apps/web/src/app/(authenticated)/organization/layout.tsx
Due: prettier --write

test (#687)
  apps/web/src/app/(authenticated)/organization/layout.tsx
Due: prettier --write

remove all suspense
  apps/web/src/app/(authenticated)/insights/layout.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/integrations/layout.tsx
  apps/web/src/app/(authenticated)/introduction/layout.tsx
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/organization-warning/layout.tsx
  apps/web/src/app/(authenticated)/profile/layout.tsx
  apps/web/src/app/(authenticated)/summary/layout.tsx
  apps/web/src/app/(unauthenticated)/layout.tsx
Due: prettier --write

remove all suspense (#689)
  apps/web/src/app/(authenticated)/insights/layout.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/integrations/layout.tsx
  apps/web/src/app/(authenticated)/introduction/layout.tsx
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/organization-warning/layout.tsx
  apps/web/src/app/(authenticated)/profile/layout.tsx
  apps/web/src/app/(authenticated)/summary/layout.tsx
  apps/web/src/app/(unauthenticated)/layout.tsx
Due: prettier --write

integrations with non-expiry refreshToken shouldn't expire
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/integration-util.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/pubsub/package.json
  packages/pubsub/src/index.ts
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Due: prettier --write

691: introduce processFn in linkedIn
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/insights-utils.ts
Due: prettier --write

691: introduce processFn in linkedIn (#692)
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/insights-utils.ts
Due: prettier --write
