Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

don't vanish org dropdown (#386)
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
Due: prettier --write

Update ad accounts (#342)
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
  apps/web/src/util/access-utils.ts
Due: prettier --write

allow fetching base info for invited users
  apps/server/src/schema/user/user-types.ts
Due: prettier --write

allow fetching base info for invited users (#389)
  apps/server/src/schema/user/user-types.ts
Due: prettier --write

change default sorting to impressions absolute
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Due: prettier --write

change default sorting to impressions absolute (#394)
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Due: prettier --write

split sync into time ranges
  apps/channel-report/src/config.ts
  apps/channel-report/src/index.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-linkedin/src/config.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-meta/src/config.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  packages/channel-utils/.eslintrc.cjs
  packages/channel-utils/eslint.tsconfig.json
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/config.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/report-async-start.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/src/report-process.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
Due: prettier --write

split sync into time ranges (#395)
  apps/channel-report/src/config.ts
  apps/channel-report/src/index.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-linkedin/src/config.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-meta/src/config.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  packages/channel-utils/.eslintrc.cjs
  packages/channel-utils/eslint.tsconfig.json
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/config.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/report-async-start.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/src/report-process.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
Due: prettier --write

job dates should be iso string
  packages/channel/src/report-process.ts
Due: prettier --write

job dates should be iso string (#396)
  packages/channel/src/report-process.ts
Due: prettier --write

job dates should be iso string (#397)
  packages/channel/src/report-process.ts
Due: prettier --write

implement intervals
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Due: prettier --write

quarterly filter option
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Due: prettier --write

getOrderByValue fix
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Due: prettier --write

remove vpc endpoints
  infrastructure/modules/workspace/vpc.tf
Due: terraform fmt

remove vpc endpoints (#399)
  infrastructure/modules/workspace/vpc.tf
Due: terraform fmt

increase the concurrency of ad reports
  packages/channel/src/report-process.ts
Due: prettier --write

members can remove themselves from an organization
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/organization/organization-operations.ts
Due: prettier --write

don't create date range in the future
  packages/channel-utils/src/date-utils.ts
Due: prettier --write

390-member-are-unable-to-remove-themselves-from-an-organization (#400)
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/organization/organization-operations.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel/src/report-process.ts
Due: prettier --write

decrease the concurrency of ad reports
  .idea/dataSources.xml
  packages/channel/src/report-process.ts
Due: prettier --write

introduce channel report check lambda
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/ghcr-retention.yml
  apps/channel-report-check/.eslintrc.cjs
  apps/channel-report-check/.gitignore
  apps/channel-report-check/package.json
  apps/channel-report-check/src/index.ts
  apps/channel-report-check/tsconfig.json
  apps/server/src/index.ts
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/sns.tf
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

introduce channel report check lambda (#402)
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/ghcr-retention.yml
  apps/channel-report-check/.eslintrc.cjs
  apps/channel-report-check/.gitignore
  apps/channel-report-check/package.json
  apps/channel-report-check/src/index.ts
  apps/channel-report-check/tsconfig.json
  apps/server/src/index.ts
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/sns.tf
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

add the job env vars to new lambda
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/environment.tf
Due: terraform fmt

allow github to update new lambda
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
Due: terraform fmt

allow channel report check to submit jobs
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/environment.tf
Due: terraform fmt

401-off-load-report-check-to-a-lambda (#403)
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/environment.tf
Due: terraform fmt

Revert "remove vpc endpoints (#399)"
  infrastructure/modules/workspace/vpc.tf
Due: terraform fmt

remove unused local var in terraform
  infrastructure/modules/workspace/vpc.tf
Due: terraform fmt

fix API_ENDPOINT
  packages/utils/src/config.ts
Due: prettier --write

fix API_ENDPOINT (#408)
  packages/utils/src/config.ts
Due: prettier --write

notifications
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/user-button/user-button.tsx
Due: prettier --write

integration errored state
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Due: prettier --write

user info is not clickable
  apps/backoffice/src/components/user-button/user-button.module.scss
Due: none

fix user-atoms.ts
  apps/backoffice/src/app/atoms/user-atoms.ts
Due: prettier --write

remove non-needed code
  apps/backoffice/src/app/(authenticated)/actions.ts
  apps/backoffice/src/app/(authenticated)/layout.tsx
  apps/backoffice/src/app/(authenticated)/profile/actions.ts
  apps/backoffice/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/backoffice/src/app/(authenticated)/profile/components/user-info/user-info.module.scss
  apps/backoffice/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/backoffice/src/app/(authenticated)/profile/layout.tsx
  apps/backoffice/src/app/(authenticated)/profile/page.tsx
  apps/backoffice/src/app/actions.ts
  apps/backoffice/src/app/emulate/actions.ts
  apps/backoffice/src/app/emulate/page.tsx
  apps/backoffice/src/app/icons/icon1.svg
  apps/backoffice/src/app/icons/icon2.png
  apps/backoffice/src/app/icons/icon3.png
  apps/backoffice/src/app/icons/icon4.png
  apps/backoffice/src/app/icons/icon5.png
  apps/backoffice/src/app/icons/icon6.png
  apps/backoffice/src/app/icons/icon7.png
  apps/backoffice/src/app/layout.tsx
  apps/backoffice/src/app/loading.tsx
  apps/backoffice/src/app/route.ts
  apps/backoffice/src/app/set-user-sentry.tsx
  apps/backoffice/src/components/misc/notifications-handler.tsx
  apps/backoffice/src/components/user-button/user-button.tsx
  apps/backoffice/src/env.mjs
  apps/backoffice/src/util/access-utils.ts
  apps/backoffice/src/util/currency-utils.ts
  apps/backoffice/src/util/format-utils.ts
  apps/backoffice/src/util/handle-urql-request.ts
  apps/backoffice/src/util/publisher-utils.ts
  apps/backoffice/src/util/types.ts
  apps/backoffice/src/util/url-query-utils.ts
Due: prettier --write

Revert "integration errored state"
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
