Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

.lintstagedrc.json:

{
  "*.graphql": ["prettier --write"],
  "*.ts": ["prettier --write"],
  "*.tsx": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.tf": "terraform fmt",
  "*.prisma": "prisma format --schema packages/database/prisma/schema.prisma"
}

insights card metadata improvements
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/util/publisher-utils.ts
Due: prettier --write

insight card title fallback
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
Due: prettier --write

fix format
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
Due: prettier --write

fix import order
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
Due: prettier --write

add analytics to web (#254)
  apps/web/src/app/layout.tsx
Due: prettier --write

Update apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
Due: prettier --write

Update apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
Due: prettier --write

226 insights metadata improvements (#242)
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/util/format-utils.ts
  apps/web/src/util/publisher-utils.ts
Due: prettier --write

155 multiple orgs fe (#212)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/organization-warning/layout.tsx
  apps/web/src/app/(authenticated)/organization-warning/page.tsx
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(unauthenticated)/actions.ts
  apps/web/src/app/(unauthenticated)/confirm-email/page.tsx
  apps/web/src/app/(unauthenticated)/sign-out/page.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/buttons/create-organization-button.tsx
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
  apps/web/src/components/misc/logo-full.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
  apps/web/src/graphql/user.graphql
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  apps/web/src/util/access-utils.ts
  pnpm-lock.yaml
Due: prettier --write

add prisma generate in deploy frontend
  .github/workflows/deploy_frontend.yml
Due: none

hardcode environment
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/src/instrument.ts
  pnpm-lock.yaml
Due: prettier --write

Revert "remove sentry in BE (#184)"
  apps/server/package.json
Due: none

remove SKIP_ENV_VALIDATION
  .github/workflows/ci.yml
Due: none

bring back sentry in the BE (#258)
  .github/workflows/ci.yml
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/instrument.ts
  pnpm-lock.yaml
Due: prettier --write

sourcemaps
  apps/server/package.json
  pnpm-lock.yaml
Due: none

weird staff
  .github/workflows/ci.yml
Due: none

add repo/utils to channel-ingress lambda
  apps/channel-ingress/package.json
  pnpm-lock.yaml
Due: none

echo printenv from pnpm
  .github/workflows/ci.yml
  apps/server/package.json
Due: none

echo printenv from pnpm build
  .github/workflows/ci.yml
  apps/server/package.json
Due: none

echo printenv from pnpm build outer
  apps/server/package.json
  package.json
Due: none

echo printenv from pnpm build outer
  package.json
Due: none

add sentry to turbo.json
  apps/server/package.json
  package.json
  turbo.json
Due: none

add server sourcemaps
  apps/server/package.json
  turbo.json
Due: none

add channel-ingress sourcemaps
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
Due: prettier --write

capture error in sentry in web
  apps/web/src/app/error.tsx
Due: prettier --write

add sourcemaps in sentry (#256)
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/web/src/app/error.tsx
  turbo.json
Due: prettier --write

add SENTRY_AUTH_TOKEN in Dockerfile
  Lambda.Dockerfile
  apps/server/Dockerfile
Due: none

add SENTRY_AUTH_TOKEN in Dockerfile (#261)
  Lambda.Dockerfile
  apps/server/Dockerfile
Due: none

log all express calls
  apps/server/package.json
  apps/server/src/index.ts
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  pnpm-lock.yaml
Due: prettier --write

remove sentry from web and server
  apps/server/package.json
  apps/server/src/index.ts
  apps/web/next.config.mjs
Due: prettier --write

Revert "remove sentry from web and server"
  apps/server/package.json
  apps/server/src/index.ts
  apps/web/next.config.mjs
Due: prettier --write

Revert "log all express calls"
  apps/server/package.json
  apps/server/src/index.ts
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  pnpm-lock.yaml
Due: prettier --write

typo
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
Due: prettier --write

add heartbeat endpoint
  apps/server/src/index.ts
Due: prettier --write

add heartbeat endpoint (#263)
  apps/server/src/index.ts
Due: prettier --write

remove health check configuration
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

remove health check configuration (#264)
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

add tracePropagationTargets in server sentry
  apps/server/src/instrument.ts
Due: prettier --write

test tracePropagationTargets
  apps/server/src/index.ts
  apps/server/src/instrument.ts
Due: prettier --write
