Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

732: integrate with posthog
  README.md
  apps/server/package.json
  apps/web/package.json
  apps/web/src/env.mjs
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-linkedin/tsconfig.json
  packages/channel-meta/tsconfig.json
  packages/channel-tiktok/tsconfig.json
  packages/channel-utils/tsconfig.json
  packages/channel/tsconfig.json
  packages/lambda-utils/tsconfig.json
  packages/posthog/.eslintrc.cjs
  packages/posthog/package.json
  packages/posthog/src/config.ts
  packages/posthog/src/index.ts
  packages/posthog/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, terraform fmt

732: integrate with posthog
  .github/workflows/ci.yml
Due: none

732: integrate with posthog (#733)
  .github/workflows/ci.yml
  README.md
  apps/server/package.json
  apps/web/package.json
  apps/web/src/env.mjs
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-linkedin/tsconfig.json
  packages/channel-meta/tsconfig.json
  packages/channel-tiktok/tsconfig.json
  packages/channel-utils/tsconfig.json
  packages/channel/tsconfig.json
  packages/lambda-utils/tsconfig.json
  packages/posthog/.eslintrc.cjs
  packages/posthog/package.json
  packages/posthog/src/config.ts
  packages/posthog/src/index.ts
  packages/posthog/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, terraform fmt

Feat: Authentication for pinterest
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/public/integrations/pinterest-logo-icon.svg
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Feat: Added pinterest auth
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-pinterest/.eslintrc.cjs
  packages/channel-pinterest/package.json
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/channel-pinterest/src/config.ts
  packages/channel-pinterest/src/index.ts
  packages/channel-pinterest/tsconfig.json
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Feat: Added migration.sql
  packages/database/prisma/migrations/20241211113644_pinterest_integration/migration.sql
Due: none

729: pinterest secrets
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

729: introduce pinterest feature flag
  apps/server/src/schema/integrations/integration-operations.ts
  packages/posthog/src/index.ts
Due: prettier --write

Refactor: removed unnecessary packages/scopes
  packages/channel-pinterest/package.json
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/channel-pinterest/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

710 pinterest authentication (#729)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/public/integrations/pinterest-logo-icon.svg
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-pinterest/.eslintrc.cjs
  packages/channel-pinterest/package.json
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/channel-pinterest/src/config.ts
  packages/channel-pinterest/src/index.ts
  packages/channel-pinterest/tsconfig.json
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  packages/database/prisma/migrations/20241211113644_pinterest_integration/migration.sql
  packages/database/prisma/schema.prisma
  packages/posthog/src/index.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

Revert "724: retry failed reports (#725)"
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/report-process.ts
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
