Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

.lintstagedrc.json:

{
  "*.graphql": ["prettier --write"],
  "*.ts": ["prettier --write"],
  "*.tsx": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.tf": "terraform fmt",
  "*.prisma": "prisma format --schema packages/database/prisma/schema.prisma"
}

add name in providers
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/package.json
  apps/web-old/src/app/[locale]/(logged-in)/initial-setup-subscription.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  apps/web-old/src/app/[locale]/(login)/(normal)/login-providers-links.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web-old/src/util/types.ts
  apps/web/package.json
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/types.ts
  packages/mappings/.eslintrc.cjs
  packages/mappings/package.json
  packages/mappings/src/index.ts
  packages/mappings/src/name-mapping.ts
  packages/mappings/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

add name in providers (#101)
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/package.json
  apps/web-old/src/app/[locale]/(logged-in)/initial-setup-subscription.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  apps/web-old/src/app/[locale]/(login)/(normal)/login-providers-links.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web-old/src/util/types.ts
  apps/web/package.json
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/types.ts
  packages/mappings/.eslintrc.cjs
  packages/mappings/package.json
  packages/mappings/src/index.ts
  packages/mappings/src/name-mapping.ts
  packages/mappings/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

remove eslint in package.json
  package.json
  packages/config-eslint/library.cjs
  packages/config-eslint/next.cjs
  packages/database/package.json
  pnpm-lock.yaml
Due: none

remove eslint in package.json (#102)
  package.json
  packages/config-eslint/library.cjs
  packages/config-eslint/next.cjs
  packages/database/package.json
  pnpm-lock.yaml
Due: none

remove Iresha
  infrastructure/environments/management/users.tf
Due: terraform fmt

remove Iresha (#103)
  infrastructure/environments/management/users.tf
Due: terraform fmt

104: delete data on channel revoke
  packages/channel-utils/src/integration-util.ts
  packages/database/prisma/migrations/20240606131146_cascade_on_ad_acount_delete/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

104: delete data on channel revoke (#105)
  packages/channel-utils/src/integration-util.ts
  packages/database/prisma/migrations/20240606131146_cascade_on_ad_acount_delete/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

106: add ad reporting LinkedIn scope
  packages/channel-linkedin/src/channel-linkedin.ts
Due: prettier --write

106: add ad reporting LinkedIn scope (#107)
  packages/channel-linkedin/src/channel-linkedin.ts
Due: prettier --write

108: LinkedIn ingress
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/ad-id.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/channel-interface.ts
  packages/database/prisma/migrations/20240607185544_ad_name_nullable/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/date-utils.ts
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

108: LinkedIn ingress (#109)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/ad-id.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/channel-interface.ts
  packages/database/prisma/migrations/20240607185544_ad_name_nullable/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/date-utils.ts
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

ts error fix
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Due: prettier --write

111: linkedIn getAdpreview
  .husky/pre-commit
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/package.json
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/iframe-helper.ts
  packages/channel-utils/src/index.ts
  packages/channel/src/iframe-cacheable.ts
  packages/channel/src/index.ts
  pnpm-lock.yaml
Due: prettier --write

111: linkedIn getAdpreview (#112)
  .husky/pre-commit
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/package.json
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/iframe-helper.ts
  packages/channel-utils/src/index.ts
  packages/channel/src/iframe-cacheable.ts
  packages/channel/src/index.ts
  pnpm-lock.yaml
Due: prettier --write

language picker cleanup
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/dropdowns/language-picker-simple/language-picker-simple.tsx
Due: prettier --write

113: fix linkedIn cents
  packages/channel-linkedin/src/channel-linkedin.ts
Due: prettier --write

113: fix linkedIn cents (#114)
  packages/channel-linkedin/src/channel-linkedin.ts
Due: prettier --write

add spend description
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

add spend description (#116)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

UI library implementation (#99)
  apps/web/next.config.mjs
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/dropdowns/language-picker/language-picker.tsx
Due: prettier --write

119: add emailable api in terraform
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

119: add emailable api in terraform (#120)
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

119: add emailable api in terraform (#121)
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

119: introduce email validation in the backend
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/user/emailble-helper.ts
  apps/server/src/schema/user/user-operations.ts
  packages/database/prisma/migrations/20240611125149_domain_in_organization/migration.sql
  packages/database/prisma/schema.prisma
  turbo.json
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

119: introduce email validation in the backend (#122)
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/user/emailble-helper.ts
  apps/server/src/schema/user/user-operations.ts
  packages/database/prisma/migrations/20240611125149_domain_in_organization/migration.sql
  packages/database/prisma/schema.prisma
  turbo.json
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

118: org admins are able to change org name
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

118: org admins are able to change org name (#123)
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

124: introduce order by absolute values
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/package.json
  apps/web-old/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web-old/src/app/[locale]/(logged-in)/insights/page.tsx
  apps/web-old/src/components/filters/order-by.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

124: introduce order by absolute values (#125)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/package.json
  apps/web-old/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web-old/src/app/[locale]/(logged-in)/insights/page.tsx
  apps/web-old/src/components/filters/order-by.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

126: fix cpm multiplier
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
Due: prettier --write

126: fix cpm multiplier (#127)
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
Due: prettier --write

revoke action prompt
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Due: prettier --write

chart fix formatter for spend / 100
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Due: prettier --write

chart fix formatter for spend / 100 (#129)
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Due: prettier --write

revoke action prompt (#128)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Due: prettier --write

introduce FormatType and Position enums
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/iframe-meta-helper.ts
Due: prettier --write

introduce FormatType and Position enums (#134)
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/iframe-meta-helper.ts
Due: prettier --write

don't require special character in password
  packages/utils/src/password-helper.ts
Due: prettier --write
