Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

.lintstagedrc.json:

{
  "*.graphql": ["prettier --write"],
  "*.ts": ["prettier --write"],
  "*.tsx": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.tf": "terraform fmt",
  "*.prisma": "prisma format --schema packages/database/prisma/schema.prisma"
}

introduce shared-names.ts (#321)
  apps/server/src/schema/organization/organization-operations.ts
  packages/shared-types/src/index.ts
  packages/utils/src/index.ts
  packages/utils/src/shared-names.ts
Due: prettier --write

trigger main ci/cd
  .github/workflows/build-deploy-service.yml
Due: none

Revert "trigger main ci/cd"
  .github/workflows/build-deploy-service.yml
Due: none

landing temporary domain
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
Due: terraform fmt

landing temporary domain (#322)
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
Due: terraform fmt

fixes and refactoring around invites
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/login-provider/login-provider-types.ts
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/server/src/utils/rate-limiter.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

fixes and refactoring around invites (#325)
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/login-provider/login-provider-types.ts
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/server/src/utils/rate-limiter.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

update pnpm
  package.json
Due: none

update turbo
  package.json
  pnpm-lock.yaml
Due: none

update eslint-config-turbo
  packages/config-eslint/package.json
  pnpm-lock.yaml
Due: none

force landing page in dev at port 3001
  apps/landing-page/package.json
Due: none

update turbo and turbo (#327)
  apps/landing-page/package.json
  package.json
  packages/config-eslint/package.json
  pnpm-lock.yaml
Due: none

use intl in header
  apps/landing-page/messages/en.json
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/ScrollToTop/index.tsx
  apps/landing-page/src/i18n.ts
  pnpm-lock.yaml
Due: prettier --write

use intl in footer, header, hero
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/Common/section-header.tsx
  apps/landing-page/src/components/Features/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Hero/index.tsx
Due: prettier --write

use intl in landing-page (partial) (#329)
  apps/landing-page/messages/en.json
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/Common/section-header.tsx
  apps/landing-page/src/components/Features/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Hero/index.tsx
  apps/landing-page/src/components/ScrollToTop/index.tsx
  apps/landing-page/src/i18n.ts
  pnpm-lock.yaml
Due: prettier --write

add reddit, snapchat, google coming soon integrations
  apps/server/src/schema/generated/schema.graphql
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/public/integrations/google-logo-icon.svg
  apps/web/public/integrations/reddit-logo-icon.svg
  apps/web/public/integrations/snapchat-logo-icon.svg
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240808134951_add_commingsoon_integrations/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

sign up boilerplate
  apps/web/src/app/(unauthenticated)/invited-user/page.tsx
Due: prettier --write

access rights for user role management
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/util/access-utils.ts
Due: prettier --write

users table operations
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Due: prettier --write

invite users changes
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Due: prettier --write

invite users button & modal
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/app/atoms/organization-atoms.ts
Due: prettier --write

minor
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Due: prettier --write

improvements
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Due: prettier --write

invite users
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
Due: prettier --write

remove user button access rights
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Due: prettier --write

users table & general roles refactor
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/atoms/organization-atoms.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Due: prettier --write

styling
  apps/web/src/app/(authenticated)/organization/page.tsx
Due: prettier --write

allow user to remove themselves from organization even when being an org_member
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Due: prettier --write

imports
  apps/web/src/app/(authenticated)/organization/actions.ts
Due: prettier --write

role dropdown animation
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Due: prettier --write

fix success true @ inviteUsers mutation
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
  apps/web/src/util/handle-urql-request.ts
Due: prettier --write

remove user from org & users table refresh improvement
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Due: prettier --write

fix removeUserFromOrganization response
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/organization.graphql
Due: prettier --write

successful invite users refresh users table
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Due: prettier --write

use intl in main page of landing
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/About/index.tsx
  apps/landing-page/src/components/CTA/index.tsx
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/FAQ/faq-data.tsx
  apps/landing-page/src/components/FAQ/faq-item.tsx
  apps/landing-page/src/components/FAQ/index.tsx
  apps/landing-page/src/components/Features/features-data.tsx
  apps/landing-page/src/components/Features/single-feature.tsx
  apps/landing-page/src/components/FeaturesTab/features-tab-data.tsx
  apps/landing-page/src/components/FeaturesTab/features-tab-item.tsx
  apps/landing-page/src/components/FeaturesTab/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/FunFact/index.tsx
  apps/landing-page/src/components/Integration/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
  apps/landing-page/src/components/Testimonial/index.tsx
  apps/landing-page/src/components/Testimonial/single-testimonial.tsx
  apps/landing-page/src/components/Testimonial/testimonial-data.ts
  apps/landing-page/src/types/faq.ts
  apps/landing-page/src/types/feature-tab.ts
  apps/landing-page/src/types/feature.ts
  apps/landing-page/src/types/testimonial.ts
Due: prettier --write

use intl in main page of landing (#332)
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/About/index.tsx
  apps/landing-page/src/components/CTA/index.tsx
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/FAQ/faq-data.tsx
  apps/landing-page/src/components/FAQ/faq-item.tsx
  apps/landing-page/src/components/FAQ/index.tsx
  apps/landing-page/src/components/Features/features-data.tsx
  apps/landing-page/src/components/Features/single-feature.tsx
  apps/landing-page/src/components/FeaturesTab/features-tab-data.tsx
  apps/landing-page/src/components/FeaturesTab/features-tab-item.tsx
  apps/landing-page/src/components/FeaturesTab/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/FunFact/index.tsx
  apps/landing-page/src/components/Integration/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
  apps/landing-page/src/components/Testimonial/index.tsx
  apps/landing-page/src/components/Testimonial/single-testimonial.tsx
  apps/landing-page/src/components/Testimonial/testimonial-data.ts
  apps/landing-page/src/types/faq.ts
  apps/landing-page/src/types/feature-tab.ts
  apps/landing-page/src/types/feature.ts
  apps/landing-page/src/types/testimonial.ts
Due: prettier --write

sign-up invited user behaviour
  apps/web/src/app/(unauthenticated)/invited-user/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/util/url-query-utils.ts
Due: prettier --write

user invite & users table fixes
  apps/server/src/schema/user/user-operations.ts
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/schemas/login-schemas.ts
  packages/utils/src/shared-names.ts
Due: prettier --write
