Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

.lintstagedrc.json:

{
  "*.graphql": ["prettier --write"],
  "*.ts": ["prettier --write"],
  "*.tsx": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.tf": "terraform fmt",
  "*.prisma": "prisma format --schema packages/database/prisma/schema.prisma"
}

rename local lambdas workflow
  .github/workflows/deploy-lambdas-local.yml
Due: none

add meta queues (#288)
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-lambdas-local.yml
  .github/workflows/deploy-lambdas-prod.yml
  apps/check-report/.eslintrc.cjs
  apps/check-report/.gitignore
  apps/check-report/package.json
  apps/check-report/src/config.ts
  apps/check-report/src/index.ts
  apps/check-report/tsconfig.json
  apps/process-report/.eslintrc.cjs
  apps/process-report/.gitignore
  apps/process-report/package.json
  apps/process-report/src/index.ts
  apps/process-report/tsconfig.json
  apps/tiktok-check-report/src/index.ts
  apps/tiktok-process-report/src/index.ts
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/reports/check_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
  infrastructure/modules/reports/reports_outputs.tf
  infrastructure/modules/reports/reports_queues.tf
  infrastructure/modules/reports/reports_variables.tf
  infrastructure/modules/tiktok/tiktok.tf
  infrastructure/modules/tiktok/tiktok_check_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_outputs.tf
  infrastructure/modules/tiktok/tiktok_process_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_queues.tf
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

fix local workflow lambda name
  .github/workflows/deploy-lambdas-local.yml
Due: none

put lambdas back
  infrastructure/modules/reports/check_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
Due: terraform fmt

TikTok ready to be tested
  apps/check-report/package.json
  apps/check-report/src/index.ts
  apps/server/src/config.ts
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  packages/channel-utils/package.json
  packages/lambda-types/package.json
  packages/lambda-types/src/config.ts
  packages/lambda-types/src/index.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

tiktok works locally
  apps/check-report/package.json
  apps/check-report/src/config.ts
  apps/check-report/src/index.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/config.ts
  packages/channel-utils/src/index.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/package.json
  packages/channel/src/config.ts
  packages/channel/src/index.ts
  packages/channel/src/report-process.ts
  packages/lambda-types/src/index.ts
  pnpm-lock.yaml
Due: prettier --write

concurrency works
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/package.json
  packages/channel/src/report-process.ts
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Due: prettier --write

rename lambda and remove the excess one
  apps/channel-report/.eslintrc.cjs
  apps/channel-report/.gitignore
  apps/channel-report/package.json
  apps/channel-report/src/index.ts
  apps/channel-report/tsconfig.json
  apps/check-report/package.json
  apps/check-report/src/index.ts
  apps/process-report/.eslintrc.cjs
  apps/process-report/.gitignore
  apps/process-report/tsconfig.json
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Due: prettier --write

start removing excess resources from tf
  infrastructure/modules/reports/channel_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
  infrastructure/modules/reports/reports_queues.tf
Due: terraform fmt

rename lambda in github actions and tf
  .github/workflows/deploy-lambdas-local.yml
  .github/workflows/deploy-lambdas-prod.yml
  infrastructure/modules/reports/channel_report_lambda.tf
  infrastructure/modules/reports/reports.tf
  infrastructure/modules/reports/reports_queues.tf
Due: terraform fmt

start removing excess resources from tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
  infrastructure/modules/reports/reports.tf
  infrastructure/modules/reports/reports_outputs.tf
  infrastructure/modules/reports/reports_variables.tf
Due: terraform fmt

temporarily remove channel report lambda
  infrastructure/modules/environment/channel_report.tf
Due: terraform fmt

move variables in queues
  infrastructure/environments/local/local.tf
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
Due: terraform fmt

put back channel-report lambda
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report.tf
Due: terraform fmt

install dependencies
  pnpm-lock.yaml
Due: none

fix @aws-sdk/client-sqs package
  apps/channel-report/package.json
  infrastructure/modules/environment/channel_report.tf
  packages/channel/package.json
  pnpm-lock.yaml
Due: terraform fmt

fix @aws-sdk/client-sqs package (#290)
  apps/channel-report/package.json
  infrastructure/modules/environment/channel_report.tf
  packages/channel/package.json
  pnpm-lock.yaml
Due: terraform fmt

add aws env variables to server
  infrastructure/modules/environment/environment.tf
  packages/utils/src/config.ts
  turbo.json
Due: prettier --write, terraform fmt

add aws env variables to server (#291)
  infrastructure/modules/environment/environment.tf
  packages/utils/src/config.ts
  turbo.json
Due: prettier --write, terraform fmt

fix channel report queue url
  packages/channel-utils/package.json
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Due: prettier --write

fix channel report queue url (#292)
  packages/channel-utils/package.json
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Due: prettier --write

add mode in channel report lambda
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

log the channel report queue url
  packages/channel/src/report-process.ts
Due: prettier --write

add mode in channel report lambda (#293)
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/app_runner.tf
  packages/channel/src/report-process.ts
Due: prettier --write, terraform fmt

ad aws account id in channel ingress lambda-utils.ts
  apps/server/src/utils/lambda-utils.ts
  infrastructure/modules/environment/channel_ingress_lambda.tf
  packages/channel/src/report-process.ts
Due: prettier --write, terraform fmt

ad aws account id in channel ingress lambda-utils.ts (#294)
  apps/server/src/utils/lambda-utils.ts
  infrastructure/modules/environment/channel_ingress_lambda.tf
  packages/channel/src/report-process.ts
Due: prettier --write, terraform fmt

fix image cmd for channel ingress lambda
  infrastructure/modules/environment/channel_ingress_lambda.tf
Due: terraform fmt

fix image cmd for channel ingress lambda (#295)
  infrastructure/modules/environment/channel_ingress_lambda.tf
Due: terraform fmt

add mode in channel-ingress lambda
  infrastructure/modules/environment/channel_ingress_lambda.tf
Due: terraform fmt

channel-ingress lambda can send sqs messages to channel-report lambda
  infrastructure/environments/local/local.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
Due: terraform fmt

add mode in channel-ingress lambda (#296)
  infrastructure/environments/local/local.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
Due: terraform fmt

remove excess logs
  packages/channel/src/report-process.ts
Due: prettier --write

transition meta data ingress to queue
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Due: prettier --write

transition meta data ingress to queue (#298)
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Due: prettier --write

sqs batch accepts 10 entries max
  packages/channel-utils/package.json
  packages/channel-utils/src/send-messages.ts
  pnpm-lock.yaml
Due: prettier --write

sqs batch accepts 10 entries max (#299)
  packages/channel-utils/package.json
  packages/channel-utils/src/send-messages.ts
  pnpm-lock.yaml
Due: prettier --write

use correct sync flow after integration connect
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/lambda-utils.ts
  packages/channel/package.json
  packages/channel/src/data-refresh.ts
  packages/channel/src/integration-helper.ts
  packages/lambda-types/src/index.ts
  packages/lambda-utils/.eslintrc.cjs
  packages/lambda-utils/package.json
  packages/lambda-utils/src/config.ts
  packages/lambda-utils/src/index.ts
  packages/lambda-utils/src/lambda-invoke.ts
  packages/lambda-utils/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

use correct sync flow after integration connect (#300)
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/lambda-utils.ts
  packages/channel/package.json
  packages/channel/src/data-refresh.ts
  packages/channel/src/integration-helper.ts
  packages/lambda-types/src/index.ts
  packages/lambda-utils/.eslintrc.cjs
  packages/lambda-utils/package.json
  packages/lambda-utils/src/config.ts
  packages/lambda-utils/src/index.ts
  packages/lambda-utils/src/lambda-invoke.ts
  packages/lambda-utils/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

insight card improvements
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
Due: prettier --write
