Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

Add filter by ad id
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/[locale]/(logged-in)/insights/ad-id.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/grouped-checkbox.tsx
  apps/web/src/components/filters/multi-filter.tsx
  apps/web/src/components/filters/multi-select-dropdown.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Due: prettier --write

Fix z-index
  apps/web/src/components/filters/grouped-checkbox.tsx
  apps/web/src/components/filters/multi-select-dropdown.tsx
  packages/ui/src/checkbox.tsx
Due: prettier --write

Get iFrame in backend
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/fb/iframe-fb-helper.ts
  apps/server/src/contexts/channels/iframe-helper.ts
  apps/server/src/contexts/channels/integration-util.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/app/[locale]/(logged-in)/insights/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/redis/src/cacheable.ts
  packages/redis/src/client.ts
  pnpm-lock.yaml
Due: prettier --write

Introduce redis batcher
  packages/redis/src/cacheable.ts
  packages/redis/src/redis-batcher.ts
Due: prettier --write

Use iFrame in Insight
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  package.json
  packages/ui/package.json
  packages/ui/src/iframe.tsx
  pnpm-lock.yaml
Due: prettier --write

Install pnpm properly in Dockerfile
  apps/server/Dockerfile
Due: none

Don't install unneeded dependencies in Dockerfile
  apps/server/Dockerfile
Due: none

Update pnpm action setup
  .github/workflows/auto-update.yml
  .github/workflows/build-deploy-service.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_frontend.yml
Due: none

Revamp user roles and expose refresh data
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/google.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  packages/database/prisma/migrations/20240508100423_roles_revamp/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Rename refreshChannels to refreshData
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

Add initial arg
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

Set insights as the default logged in page
  apps/web/src/app/[locale]/(logged-in)/page.tsx
  apps/web/src/i18n.ts
Due: prettier --write

Add lefteris to aws
  infrastructure/environments/management/users.tf
Due: terraform fmt

Use lodash for groupBy and uniqueBy
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/fb/iframe-fb-helper.ts
  apps/server/src/utils/lodash-utils.ts
Due: prettier --write

Disable auto deployments
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-production.yml
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

unescaped character fix
  .github/workflows/build-deploy-service.yml
Due: none

Add Deploy App Runner rights in github
  .github/workflows/build-deploy-service.yml
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

Use dedicated access role
  .github/workflows/build-deploy-service.yml
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

Use existing access role
  .github/workflows/build-deploy-service.yml
Due: none

Remove role attachments
  .github/workflows/build-deploy-service.yml
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

Reset to before
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

Change service name
  .github/workflows/build-deploy-service.yml
Due: none

Revert "unescaped character fix"
  .github/workflows/build-deploy-service.yml
Due: none

Revert "Disable auto deployments"
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-production.yml
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

initial groupedBy filters + simple query params util
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/grouped-checkbox.tsx
Due: prettier --write

set initial groupedBy filters only on /insights
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
Due: prettier --write

proper reset of default filters on same route navigation for /insights
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
Due: prettier --write

/insights route-specific behaviour fix
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
Due: prettier --write

Save insights during each call
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/contexts/channels/integration-util.ts
Due: prettier --write

use neon adapter
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-util.ts
  packages/database/package.json
  packages/database/prisma/schema.prisma
  packages/database/src/client.ts
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

don't use neon locally
  packages/database/src/client.ts
Due: prettier --write

override automatic filter selection on user emptying all groupBy filters + updated utils for searching params in url
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/grouped-checkbox.tsx
Due: prettier --write

Update apps/web/src/components/filters/grouped-checkbox.tsx
  apps/web/src/components/filters/grouped-checkbox.tsx
Due: prettier --write

Initial grouped by filters (#53)
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/grouped-checkbox.tsx
Due: prettier --write

use meta instead of facebook in settings
  apps/web/public/integrations/meta-logo-icon.svg
  apps/web/src/util/types.ts
Due: prettier --write

rebrand facebook to meta
  apps/server/src/contexts/channels/channel-helper.ts
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/meta/iframe-meta-helper.ts
  apps/server/src/contexts/channels/meta/meta-channel.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/util/types.ts
  packages/database/prisma/migrations/20240513071712_rename_integration_type_enum/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Use meta instead of facebook in settings (#56)
  apps/server/src/contexts/channels/channel-helper.ts
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/meta/iframe-meta-helper.ts
  apps/server/src/contexts/channels/meta/meta-channel.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/public/integrations/meta-logo-icon.svg
  apps/web/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/util/types.ts
  packages/database/prisma/migrations/20240513071712_rename_integration_type_enum/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Correct groupKey in filters
  apps/server/src/contexts/channels/integration-helper.ts
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/components/filters/multi-filter.tsx
  packages/redis/src/cacheable.ts
Due: prettier --write

introduce readonly database
  .idea/dataSources.xml
  infrastructure/modules/environment/server_secrets.tf
  packages/database/package.json
  packages/database/src/client.ts
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

fix database url regex
  packages/database/src/config.ts
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
