Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

subscription implementation
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/notification/notification-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/schema.prisma
  packages/shared-types/src/index.ts
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

receivingUserId rename
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/notification/notification-types.ts
  packages/database/prisma/migrations/20241124150120_receiving_user_id_rename/migration.sql
  packages/database/prisma/migrations/20241124150256_rename_fix/migration.sql
  packages/database/prisma/schema.prisma
  packages/pubsub/src/index.ts
  packages/shared-types/src/index.ts
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

missing packages fixes
  apps/web/package.json
  pnpm-lock.yaml
Due: none

style select fix
  apps/web/src/components/notifications/notification-entry.module.scss
  apps/web/src/components/notifications/notifications-list.tsx
Due: prettier --write

main notification to mention comments flow and view
  apps/web/src/app/(authenticated)/analytical/page.tsx
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/components/notifications/notification-entry.tsx
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/notifications/notifications-list.tsx
  apps/web/src/util/url-query-utils.ts
Due: prettier --write

new integration notification handle
  apps/web/src/components/notifications/notification-entry.tsx
Due: prettier --write

main notifications flow without subscription implementation on FE
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/package.json
  apps/server/src/schema/builder.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/notification/notification-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/atoms/notifications-atom.ts
  apps/web/src/components/notifications/notification-entry.module.scss
  apps/web/src/components/notifications/notification-entry.tsx
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/notifications/notifications-list.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  apps/web/src/util/color-utils.ts
  packages/database/prisma/schema.prisma
  packages/shared-types/src/index.ts
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

more type fixes
  apps/web/src/components/insights/comments/comment-input/suggestion.ts
Due: prettier --write

mention org users
  apps/server/src/schema/comment/comment-operations.ts
  apps/web/src/components/insights/comments/comment-input/comment-input.tsx
  apps/web/src/components/insights/comments/comment-input/mention-list.tsx
  apps/web/src/components/insights/comments/comment-input/suggestion.ts
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
Due: prettier --write

translations
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/notifications/notification-entry.tsx
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
Due: prettier --write

notification extra data type
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241203151706_extra_data_type/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/src/client.ts
  packages/database/src/types.ts
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

mark notifications as read on hover individually
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/subscriptions.tsx
  apps/web/src/components/notifications/notification-entry.tsx
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/notifications/notifications-list.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  apps/web/src/graphql/subscriptions.graphql
Due: prettier --write

comment for later
  packages/channel/src/integration-helper.ts
Due: prettier --write

lint fix
  apps/web/src/components/insights/comments/comment-input/comment-input.tsx
Due: prettier --write

improvements
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/notification/notification-types.ts
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  packages/database/prisma/migrations/20241203104310_notification_type_map_remove/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

insight util for headings and titles
  apps/web/src/app/(authenticated)/analytical/page.tsx
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/util/insights-utils.ts
Due: prettier --write

comment created at index
  apps/server/src/schema/builder.ts
  packages/database/prisma/migrations/20241203103012_comment_created_at_index/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Update packages/database/package.json
  packages/database/package.json
Due: none

prims json types
  packages/database/src/prisma/types.ts
Due: prettier --write

remove useless endpoint
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/src/integration-helper.ts
Due: prettier --write

more lint fixes
  apps/web/src/components/insights/comments/comment-input/mention-list.tsx
  apps/web/src/components/insights/comments/comment-input/suggestion.ts
Due: prettier --write

extra data handling for comment mention redirect
  apps/web/src/components/notifications/notification-entry.tsx
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  apps/web/src/graphql/subscriptions.graphql
Due: prettier --write

insight cards same height improvement & added control of rendering individual components of instight card
  apps/web/src/app/(authenticated)/analytical/page.tsx
  apps/web/src/components/insights/insight-card.tsx
Due: prettier --write

tiptap editor for comments, implemented with mantine custom styles
  apps/web/src/components/insights/comments/comment-input/comment-input.tsx
  apps/web/src/components/insights/comments/comment-input/editor.scss
  apps/web/src/components/insights/comments/comment-input/mention-list.scss
  apps/web/src/components/insights/comments/comment-input/mention-list.tsx
  apps/web/src/components/insights/comments/comment-input/suggestion.ts
  apps/web/src/components/insights/comments/comment-options.tsx
  apps/web/src/components/insights/comments/comment.module.scss
  apps/web/src/components/insights/comments/comment.tsx
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/util/format-utils.ts
  packages/utils/src/shared-schemas.ts
  pnpm-lock.yaml
Due: prettier --write

allow iframe fetching with creative id
  apps/server/src/schema/notification/notification-operations.ts
  apps/web/src/app/(authenticated)/analytical/page.tsx
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Due: prettier --write

improvement
  packages/channel/src/integration-helper.ts
Due: prettier --write

update notification dto
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

fix packages
  packages/channel/package.json
  pnpm-lock.yaml
Due: none

extra data in notification
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/package.json
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241125171253_notifications/migration.sql
  packages/database/prisma/migrations/20241125171444_rename_user_ids/migration.sql
  packages/database/prisma/migrations/20241125201534_notifications/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/src/prisma/types.ts
  packages/database/tsconfig.json
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

fragments improvements and org request improvement
  apps/web/src/app/atoms/organization-atoms.ts
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/fragments.graphql
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
  apps/web/src/graphql/user.graphql
Due: prettier --write

remove migrations & fix organization types
  apps/web/src/app/atoms/organization-atoms.ts
  apps/web/src/components/shells/main-shell/main-shell.tsx
  packages/database/prisma/migrations/20241125201534_notifications/migration.sql
  packages/database/prisma/migrations/20241203103012_comment_created_at_index/migration.sql
  packages/database/prisma/migrations/20241203104310_notification_type_map_remove/migration.sql
  packages/database/prisma/migrations/20241203151706_extra_data_type/migration.sql
  packages/database/prisma/migrations/20241204102810_comment_indices_update/migration.sql
Due: prettier --write

subscriptions component moved to auth routes only
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/layout.tsx
Due: prettier --write

indices update for comment in prisma schema
  packages/database/prisma/migrations/20241204102810_comment_indices_update/migration.sql
  packages/database/prisma/schema.prisma
Due: prisma format --schema packages/database/prisma/schema.prisma

notifications isRead index migration
  packages/database/prisma/migrations/20241205183906_notifications_is_read_indices/migration.sql
Due: none

mark all as read logic + improved notifications mouse click events
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/notifications/notifications-list.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

added missing property to initialUserDetails
  apps/web/src/app/atoms/user-atoms.ts
Due: prettier --write

comments pagination and improvements
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/components/insights/comments/comments-list.tsx
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/graphql/comments.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

notifications migration
  packages/database/prisma/migrations/20241205083016_notifications/migration.sql
Due: none

notifications pagination backend
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/web/src/app/atoms/notifications-atom.ts
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/notifications/notifications-list.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
Due: prettier --write

notifications pagination behaviour
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/subscriptions.tsx
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/components/notifications/notification-entry.tsx
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/notifications/notifications-list.tsx
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
