Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

assign adAccounts to organizations
  apps/server/src/contexts/organization.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240709095758_organization_ad_account/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

assign adAccounts to organizations (#218)
  apps/server/src/contexts/organization.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240709095758_organization_ad_account/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

drop default from adAccount -> type
  Lambda.Dockerfile
  packages/database/prisma/migrations/20240710140226_remove_default_ad_account_type/migration.sql
  packages/database/prisma/schema.prisma
Due: prisma format --schema packages/database/prisma/schema.prisma

drop default from adAccount -> type (#219)
  Lambda.Dockerfile
  packages/database/prisma/migrations/20240710140226_remove_default_ad_account_type/migration.sql
  packages/database/prisma/schema.prisma
Due: prisma format --schema packages/database/prisma/schema.prisma

new nextjs error page
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/error.tsx
  apps/web/src/components/misc/server-error-page/illustration.tsx
  apps/web/src/components/misc/server-error-page/server-error-page.module.scss
  apps/web/src/components/misc/server-error-page/server-error-page.tsx
Due: prettier --write

removed unused stuff
  apps/web/src/components/misc/server-error-page/illustration.tsx
  apps/web/src/components/user-button/user-button.tsx
Due: prettier --write

translation fixes
  apps/web/messages/el.json
  apps/web/messages/nl.json
Due: none

new nextjs error page (#217)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/error.tsx
  apps/web/src/components/misc/server-error-page/server-error-page.module.scss
  apps/web/src/components/misc/server-error-page/server-error-page.tsx
  apps/web/src/components/user-button/user-button.tsx
Due: prettier --write

fix connect integration
  apps/server/src/schema/organization/organization-operations.ts
  packages/channel/src/integration-helper.ts
Due: prettier --write

expose parentId, isRoot
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

fix connect integration (#221)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/src/integration-helper.ts
Due: prettier --write

fix lambda channel refresh
  Lambda.Dockerfile
Due: none

fix lambda channel refresh (#223)
  Lambda.Dockerfile
Due: none

add Lambda.Dockerfile to deploy channel ingress lambda triggers
  .github/workflows/deploy-channel-ingress-production.yml
Due: none

integrations access rights
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Due: prettier --write

isRoot checks in integrations
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Due: prettier --write

integrations access rights (#215)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Due: prettier --write

fix division deprecation warning
  apps/web/src/components/misc/server-error-page/server-error-page.module.scss
Due: none

fix division deprecation warning (#225)
  apps/web/src/components/misc/server-error-page/server-error-page.module.scss
Due: none

store user's browser locale
  apps/web/src/app/layout.tsx
  apps/web/src/app/user-locale-setter.tsx
Due: prettier --write

organization parent ID fix
  apps/server/src/contexts/organization.ts
Due: prettier --write

organization parent ID fix (#229)
  apps/server/src/contexts/organization.ts
Due: prettier --write

update terraform and providers
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
Due: terraform fmt

update terraform and providers (#232)
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
Due: terraform fmt

tit-tok infra
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/route53.tf
  infrastructure/modules/environment/server_secrets.tf
  turbo.json
Due: terraform fmt

tit-tok ad preview
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/database/prisma/migrations/20240716121052_add_publishers/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

use map in integrations-grid
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Due: prettier --write

tit-tok save insights
  apps/server/src/schema/generated/schema.graphql
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/index.ts
  packages/utils/src/date-utils.ts
  pnpm-lock.yaml
Due: prettier --write

tik-tok authorization
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  packages/channel-tiktok/.eslintrc.cjs
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  packages/channel-tiktok/src/index.ts
  packages/channel-tiktok/tsconfig.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel/src/channel-helper.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240712155538_allow_null_integration_token_expiration/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/fire-and-forget.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

fix meta ad preview dimensions
  packages/channel-utils/src/iframe-meta-helper.ts
Due: prettier --write

fix meta ad preview dimensions (#234)
  packages/channel-utils/src/iframe-meta-helper.ts
Due: prettier --write

downgrade hashicorp/awscc to 0.77.0
  infrastructure/environments/prod/prod.tf
Due: terraform fmt

updgrade hashicorp/awscc to 0.78.0
  infrastructure/environments/prod/prod.tf
Due: terraform fmt

updgrade hashicorp/awscc to 1.0.0
  infrastructure/environments/prod/prod.tf
Due: terraform fmt

upgrade hashicorp/awscc to 1.0.0
  infrastructure/environments/prod/prod.tf
Due: terraform fmt

tit-tok infra (#230)
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/route53.tf
  infrastructure/modules/environment/server_secrets.tf
  turbo.json
Due: terraform fmt

227 integrate with tik tok (#235)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/.eslintrc.cjs
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  packages/channel-tiktok/src/index.ts
  packages/channel-tiktok/tsconfig.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/index.ts
  packages/channel/src/channel-helper.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240712155538_allow_null_integration_token_expiration/migration.sql
  packages/database/prisma/migrations/20240716121052_add_publishers/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/date-utils.ts
  packages/utils/src/fire-and-forget.ts
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

temp hack for organization rights
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/user-types.ts
Due: prettier --write

improved error handling & no results found show when appropriate
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Due: prettier --write

fix organizations auth scopes
  apps/server/src/schema/organization/org-types.ts
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
