Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

setup bimi
  apps/landing-page/public/images/logo/logo.svg
  apps/web/public/logo.svg
  apps/web/src/middleware.ts
Due: prettier --write

setup bimi
  infrastructure/modules/environment/route53.tf
Due: terraform fmt

fix dark mode in logo.svg
  apps/landing-page/public/images/logo/logo.svg
Due: none

bimi does not support dark mode
  apps/landing-page/public/images/logo/bimi-logo.svg
  infrastructure/modules/environment/route53.tf
Due: terraform fmt

log the iframe with a ref
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Due: prettier --write

disconnect linkedIn integration on error
  packages/channel-linkedin/src/channel-linkedin.ts
Due: prettier --write

disconnect linkedIn integration on error (#515)
  packages/channel-linkedin/src/channel-linkedin.ts
Due: prettier --write

new charts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Due: prettier --write

chart improvements to show different metrics against each other
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/util/url-query-utils.ts
Due: prettier --write

disconnect linkedIn integration on error (#519)
  packages/channel-linkedin/src/channel-linkedin.ts
Due: prettier --write

max depth fix in edit profile form
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Due: prettier --write

framer motion install & basic usage in add-users-modal
  apps/web/package.json
  apps/web/src/components/create-organization/add-users-modal.tsx
  pnpm-lock.yaml
Due: prettier --write

max depth fix in edit profile form (#521)
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Due: prettier --write

fix auto-update action
  .github/workflows/auto-update.yml
Due: none

ui improvements
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Due: prettier --write

500 chart improvement (#518)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/util/url-query-utils.ts
Due: prettier --write

add Iresha
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/users.tf
Due: terraform fmt

framer motion install & basic usage in add-users-modal (#522)
  apps/web/package.json
  apps/web/src/components/create-organization/add-users-modal.tsx
  pnpm-lock.yaml
Due: prettier --write

add Vlad
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/users.tf
Due: terraform fmt

lint fix
  packages/organization/src/organization.ts
Due: prettier --write

limit integration and added switchTier endpoint
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/contexts/organization.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/package.json
  packages/channel/src/integration-helper.ts
  packages/mappings/src/tier-mapping.ts
  pnpm-lock.yaml
Due: prettier --write

refactoring/updates in user removal logic
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  packages/channel/src/integration-helper.ts
  packages/mappings/src/tier-mapping.ts
  packages/organization/package.json
  packages/organization/src/organization.ts
Due: prettier --write

refactoring
  apps/server/package.json
  apps/server/src/schema/builder.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  packages/channel/package.json
  packages/channel/src/integration-helper.ts
  packages/organization/.eslintrc.cjs
  packages/organization/package.json
  packages/organization/src/index.ts
  packages/organization/src/organization.ts
  packages/organization/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

refactoring
  apps/server/src/schema/organization/organization-operations.ts
Due: prettier --write

refactoring
  packages/organization/src/organization.ts
Due: prettier --write

cleanup/refactor
  packages/organization/src/organization.ts
Due: prettier --write

error handleing & refactoring
  apps/server/src/schema/organization/organization-operations.ts
  packages/organization/src/organization.ts
Due: prettier --write

499 limit integration and added switchTier endpoint (#513)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/package.json
  apps/server/src/contexts/organization.ts
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/package.json
  packages/channel/src/integration-helper.ts
  packages/mappings/src/tier-mapping.ts
  packages/organization/.eslintrc.cjs
  packages/organization/package.json
  packages/organization/src/index.ts
  packages/organization/src/organization.ts
  packages/organization/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

move essential packages out of dev dependencies
  packages/organization/package.json
  pnpm-lock.yaml
Due: none

move essential packages out of dev dependencies (#528)
  packages/organization/package.json
  pnpm-lock.yaml
Due: none

generate and migrate in prisma package
  apps/server/package.json
  apps/server/src/schema/integrations/integration-types.ts
  packages/database/package.json
  pnpm-lock.yaml
Due: prettier --write

generate and migrate in prisma package (#530)
  apps/server/package.json
  apps/server/src/schema/integrations/integration-types.ts
  packages/database/package.json
  pnpm-lock.yaml
Due: prettier --write

recursive method to update & remove terms & subterms
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Due: prettier --write

more cleanup
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Due: prettier --write

search input behaviour
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Due: prettier --write

load advanced search data
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Due: prettier --write

search minor improvement
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Due: prettier --write

set advanced search data & unique ids for dynamic data fixed with uniqid lib
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/insights/components/search.tsx
  apps/web/src/components/create-organization/add-users-modal.tsx
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
