Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

save as org access rights
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Due: prettier --write

type fix
  apps/web/src/util/types.ts
Due: prettier --write

added youtube ads fetch
  packages/channel-google/src/channel-google.ts
Due: prettier --write

fix time ranges
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
Due: prettier --write

introduce cache refresh lambda
  .github/workflows/deploy-lambdas-prod.yml
  apps/cache-refresh/.eslintrc.cjs
  apps/cache-refresh/.gitignore
  apps/cache-refresh/package.json
  apps/cache-refresh/src/index.ts
  apps/cache-refresh/tsconfig.json
  infrastructure/modules/environment/cache_refresh_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  packages/channel/src/data-refresh.ts
  packages/channel/src/insights-helper.ts
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

351-sync-ad-accounts-intead-of-integrations (#631)
  .github/workflows/deploy-lambdas-prod.yml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/cache-refresh/.eslintrc.cjs
  apps/cache-refresh/.gitignore
  apps/cache-refresh/package.json
  apps/cache-refresh/src/index.ts
  apps/cache-refresh/tsconfig.json
  apps/channel-report/src/index.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/modules/environment/cache_refresh_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/iframe-cacheable.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/integration-helper.ts
  packages/channel/src/report-process.ts
  packages/database/prisma/migrations/20241020121040_integration_ad_account/migration.sql
  packages/database/prisma/schema.prisma
  packages/lambda-utils/src/lambda-invoke.ts
  pnpm-lock.yaml
Due: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

fix rights for cache refresh lambda
  infrastructure/modules/environment/channel_ingress_lambda.tf
Due: terraform fmt

add Sentry manually
  apps/cache-refresh/package.json
  apps/cache-refresh/src/index.ts
  apps/channel-ingress/package.json
  pnpm-lock.yaml
Due: prettier --write

351-sync-ad-accounts-intead-of-integrations (#632)
  apps/cache-refresh/package.json
  apps/cache-refresh/src/index.ts
  apps/channel-ingress/package.json
  infrastructure/modules/environment/channel_ingress_lambda.tf
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

onboarding graphql
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Due: prettier --write

fix user atom initial type
  apps/web/src/app/atoms/user-atoms.ts
Due: prettier --write

onboarding graphql (#633)
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Due: prettier --write

navigation
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Due: prettier --write

layout changes
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Due: prettier --write

onboarding layout with mock video
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
  apps/web/tsconfig.json
Due: prettier --write

layout stuff
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/layout.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Due: prettier --write

redirect based on onboarding milestone
  apps/server/src/auth.ts
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
  apps/web/src/middleware.ts
  packages/shared-types/src/index.ts
Due: prettier --write

attache LambdaExecutionRole in cache refresh lambda role
  infrastructure/modules/environment/cache_refresh_lambda.tf
Due: terraform fmt

removeUserMilestoneAndGetJWT action & usage
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/introduction/page.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Due: prettier --write

group lambda errors
  infrastructure/modules/environment/cache_refresh_lambda.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/lambda-errors.tf
  infrastructure/modules/environment/slack.tf
Due: terraform fmt

351 group lambda errors (#635)
  infrastructure/modules/environment/cache_refresh_lambda.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/lambda-errors.tf
  infrastructure/modules/environment/slack.tf
Due: terraform fmt

upgrade terraform providers
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
Due: terraform fmt

summary chart refactor to componetize filters
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
Due: prettier --write

mandate refreshAccessToken in channels
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
Due: prettier --write

remove duplicate adAccounts
  packages/channel/src/data-refresh.ts
Due: prettier --write

637 standardize refreshing tokens in channels (#638)
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel/src/data-refresh.ts
Due: prettier --write

summary chart refactor to componetize filters (#636)
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
Due: prettier --write

Update apps/web/src/middleware.ts
  apps/web/src/middleware.ts
Due: prettier --write

actions updated
  apps/web/src/app/(unauthenticated)/actions.ts
Due: prettier --write

Update apps/web/src/app/(authenticated)/introduction/layout.tsx
  apps/web/src/app/(authenticated)/introduction/layout.tsx
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
