Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

.lintstagedrc.json:

{
  "*.graphql": ["prettier --write"],
  "*.ts": ["prettier --write"],
  "*.tsx": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.tf": "terraform fmt",
  "*.prisma": "prisma format --schema packages/database/prisma/schema.prisma"
}

Merge pull request #59
  packages/database/src/config.ts
Due: prettier --write

boost cpu and memory of server
  .idea/dataSources.xml
  infrastructure/modules/service/app_runner.tf
  packages/database/src/client.ts
Due: prettier --write, terraform fmt

boost cpu and memory of server (#60)
  .idea/dataSources.xml
  infrastructure/modules/service/app_runner.tf
  packages/database/src/client.ts
Due: prettier --write, terraform fmt

boost cpu and memory of server
  infrastructure/modules/service/app_runner.tf
  packages/redis/src/cacheable.ts
Due: prettier --write, terraform fmt

boost cpu and memory of server (#61)
  infrastructure/modules/service/app_runner.tf
  packages/redis/src/cacheable.ts
Due: prettier --write, terraform fmt

remove userId
  apps/server/package.json
  packages/channel/src/data-refresh.ts
  packages/channel/src/integration-helper.ts
  pnpm-lock.yaml
Due: prettier --write

hello world lambda with logger
  Lambda.Dockerfile
  apps/channel-meta-insights/.eslintrc.cjs
  apps/channel-meta-insights/package.json
  apps/channel-meta-insights/src/index.ts
  apps/channel-meta-insights/tsconfig.json
  infrastructure/modules/service/channel_meta_insights_fetch_lambda.tf
Due: prettier --write, terraform fmt

introduce build lambda image action
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-channel-ingress-production.yml
  .github/workflows/deploy-server-production.yml
  Lambda.Dockerfile
  apps/channel-ingress/.eslintrc.cjs
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/channel-ingress/tsconfig.json
  apps/channel-meta-insights/src/index.ts
  infrastructure/modules/service/channel_meta_insights_fetch_lambda.tf
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

introduce build lambda image action (#63)
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-channel-ingress-production.yml
  .github/workflows/deploy-server-production.yml
  Lambda.Dockerfile
  apps/channel-ingress/.eslintrc.cjs
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/channel-ingress/tsconfig.json
  apps/server/package.json
  packages/channel/src/data-refresh.ts
  packages/channel/src/integration-helper.ts
  pnpm-lock.yaml
Due: prettier --write

introduce channel ingress lambda
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-channel-ingress-production.yml
  .github/workflows/deploy-server-production.yml
  Lambda.Dockerfile
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/lambda-utils.ts
  infrastructure/environments/management/groups.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/service/service.tf
  packages/channel-meta/src/channel-meta.ts
  packages/channel/src/data-refresh.ts
  packages/lambda-types/.eslintrc.cjs
  packages/lambda-types/package.json
  packages/lambda-types/src/index.ts
  packages/lambda-types/tsconfig.json
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/utils/src/error-helper.ts
  pnpm-lock.yaml
Due: prettier --write, terraform fmt

delete insights before saving
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/index.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/utils/src/date-utils.ts
Due: prettier --write

inline pinoLambdaDestination
  packages/logger/src/index.ts
Due: prettier --write

inline pinoLambdaDestination (#65)
  packages/logger/src/index.ts
Due: prettier --write

add mode env variable
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

add mode env variable (#66)
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

add lambda invoke permission to app runner
  infrastructure/modules/environment/environment.tf
Due: terraform fmt

add lambda invoke permission to app runner (#67)
  infrastructure/modules/environment/environment.tf
Due: terraform fmt

remove pid, hostname
  infrastructure/modules/environment/channel_ingress_lambda.tf
  packages/logger/src/index.ts
Due: prettier --write, terraform fmt

remove pid, hostname (#68)
  infrastructure/modules/environment/channel_ingress_lambda.tf
  packages/logger/src/index.ts
Due: prettier --write, terraform fmt

create error metrics
  .github/workflows/deploy-channel-ingress-production.yml
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

create slack notification
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/slack.tf
  infrastructure/modules/service/service_outputs.tf
Due: terraform fmt

add sns topic
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

create ses source identity
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/modules/environment/slack.tf
  infrastructure/modules/ses/ses.tf
Due: prettier --write, terraform fmt

use redis for forget password functionality
  apps/server/src/email.ts
  apps/server/src/schema/user/user-operations.ts
  packages/database/prisma/migrations/20240519100218_delete_forget_passwords_table/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

keep only ioredis client
  package.json
  packages/channel/src/integration-helper.ts
  packages/redis/package.json
  packages/redis/src/client.ts
  packages/redis/src/index.ts
  pnpm-lock.yaml
Due: prettier --write

create insights id
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

create insights id (#71)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

fix logger in nextjs
  apps/web/next.config.mjs
  apps/web/package.json
  packages/logger/src/index.ts
  pnpm-lock.yaml
Due: prettier --write

fix logger in nextjs (#72)
  apps/web/next.config.mjs
  apps/web/package.json
  packages/logger/src/index.ts
  pnpm-lock.yaml
Due: prettier --write

revoke fb connection when token is expired
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  packages/channel-meta/src/channel-meta.ts
  packages/utils/src/error-messages.ts
  packages/utils/src/index.ts
Due: prettier --write

create fb call wrapper
  packages/channel-meta/src/channel-meta.ts
Due: prettier --write

ingress from day of the last insight
  packages/channel-meta/src/channel-meta.ts
  packages/utils/src/date-utils.ts
Due: prettier --write

apply new last insight logic to deletion as well
  packages/channel-utils/src/insights-utils.ts
  packages/utils/src/date-utils.ts
Due: prettier --write

date partitioning
  .github/workflows/ghcr-retention.yml
  apps/server/.eslintrc.cjs
  apps/server/eslint.tsconfig.json
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/app/[locale]/(logged-in)/insights/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights-no-call.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/order.tsx
  apps/web/src/components/filters/pagination.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  package.json
  packages/channel-utils/src/iframe-meta-helper.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

add insightDatapoints
  .github/workflows/ci.yml
  .husky/pre-commit
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/src/config.ts
Due: prettier --write

add insightDatapoints (#76)
  .github/workflows/ci.yml
  .husky/pre-commit
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/src/config.ts
Due: prettier --write

implement forget password flow
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/page.tsx
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/success/page.tsx
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/success/reset-email-btn.tsx
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/success/reset-email.tsx
  apps/web/src/app/[locale]/(login)/(forget)/reset-password/page.tsx
  apps/web/src/app/[locale]/(login)/(forget)/reset-password/reset-password-no-params.tsx
  apps/web/src/app/[locale]/(login)/(forget)/reset-password/reset-password-with-params.tsx
  apps/web/src/app/[locale]/api/login/forgot-password/route.ts
  apps/web/src/app/[locale]/api/login/reset-password/route.ts
  apps/web/src/components/login/forgot-password.tsx
  apps/web/src/components/login/login-form.tsx
  apps/web/src/components/login/reset-password.tsx
  apps/web/src/components/login/sign-up.tsx
Due: prettier --write

implement forget password flow (#77)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/page.tsx
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/success/page.tsx
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/success/reset-email-btn.tsx
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/success/reset-email.tsx
  apps/web/src/app/[locale]/(login)/(forget)/reset-password/page.tsx
  apps/web/src/app/[locale]/(login)/(forget)/reset-password/reset-password-no-params.tsx
  apps/web/src/app/[locale]/(login)/(forget)/reset-password/reset-password-with-params.tsx
  apps/web/src/app/[locale]/api/login/forgot-password/route.ts
  apps/web/src/app/[locale]/api/login/reset-password/route.ts
  apps/web/src/components/login/forgot-password.tsx
  apps/web/src/components/login/login-form.tsx
  apps/web/src/components/login/reset-password.tsx
  apps/web/src/components/login/sign-up.tsx
Due: prettier --write
