Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

.lintstagedrc.json:

{
  "*.graphql": ["prettier --write"],
  "*.ts": ["prettier --write"],
  "*.tsx": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.tf": "terraform fmt",
  "*.prisma": "prisma format --schema packages/database/prisma/schema.prisma"
}

integrations with non-expiry refreshToken shouldn't expire (#690)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/integration-util.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/pubsub/package.json
  packages/pubsub/src/index.ts
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Due: prettier --write

655: introduce threshold in insights
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

471: add stripe keys in terraform
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

655: introduce threshold in insights (#694)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

Fix: added right external id for getUserId method
  packages/channel-google/src/channel-google.ts
Due: prettier --write

Fix: added right external id for getUserId method (#696)
  packages/channel-google/src/channel-google.ts
Due: prettier --write

add useSentry plugin in yoga
  apps/server/package.json
  apps/server/src/index.ts
  pnpm-lock.yaml
Due: prettier --write

Fix: fixed get ad previews for google
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Due: prettier --write

Fix: fixed get ad previews for google (#698)
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Due: prettier --write

699: filter insights by creative ids
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

699: filter insights by creative ids (#700)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

Fix: added the right embed url for iframe
  packages/channel-google/src/channel-google.ts
Due: prettier --write

Fix: added the right embed url for iframe (#701)
  packages/channel-google/src/channel-google.ts
Due: prettier --write

703: Fetch ad previews when group by creativeId
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/util/url-query-utils.ts
Due: prettier --write

703: Fetch ad previews when group by creativeId (#704)
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/util/url-query-utils.ts
Due: prettier --write

706: spend is divided 2 times by 100
  apps/web/src/components/insights/insight-card.tsx
Due: prettier --write

Auto-update packages
  apps/backoffice/package.json
  apps/cache-refresh/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/backend-shared/package.json
  packages/channel-google/package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/pubsub/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: none

706: spend is divided 2 times by 100 (#707)
  apps/web/src/components/insights/insight-card.tsx
Due: prettier --write

regenerate pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Refactoring
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20241124215123_ad_account_integration/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Updated migration
  packages/database/prisma/migrations/20241112205113_ad_account_integration/migration.sql
  packages/database/prisma/migrations/20241124215123_ad_account_integration/migration.sql
  packages/database/prisma/migrations/20241126112148_ad_account_integration_mig/migration.sql
  packages/database/prisma/migrations/20241129065704_ad_account_integration_migration/migration.sql
Due: none

fead: added adAccount integrations endpoint
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20241112205113_ad_account_integration/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

fixes
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20241124215123_ad_account_integration/migration.sql
  packages/database/prisma/migrations/20241126112148_ad_account_integration_mig/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

lint fix
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
Due: prettier --write

updated dto
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
Due: prettier --write

Refactoring
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  packages/channel-utils/src/insights-utils.ts
Due: prettier --write

669: Update web to the adAccountIntegrations changes
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/graphql/integration.graphql
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/integration-helper.ts
  packages/database/package.json
Due: prettier --write

Fix: updated migration
  packages/database/prisma/migrations/20241129065704_ad_account_integration_migration/migration.sql
  packages/database/prisma/migrations/20241202094829_ad_account_integration/migration.sql
  packages/database/prisma/schema.prisma
Due: prisma format --schema packages/database/prisma/schema.prisma

Ad accounts integration (#669)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/graphql/integration.graphql
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/database/package.json
  packages/database/prisma/migrations/20241202094829_ad_account_integration/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

fix broken filtered integrations
  apps/server/src/schema/integrations/integration-types.ts
Due: prettier --write

Feat: Added reddit auth
  apps/server/src/schema/integrations/integration-operations.ts
  packages/channel-reddit/.eslintrc.cjs
  packages/channel-reddit/package.json
  packages/channel-reddit/src/channel-reddit.ts
  packages/channel-reddit/src/config.ts
  packages/channel-reddit/src/index.ts
  packages/channel-reddit/tsconfig.json
  packages/channel/src/channel-helper.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

Feat: Added pinterest auth
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-pinterest/.eslintrc.cjs
  packages/channel-pinterest/package.json
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/channel-pinterest/src/config.ts
  packages/channel-pinterest/src/index.ts
  packages/channel-pinterest/tsconfig.json
  packages/channel/src/channel-helper.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

update prisma to v6 (migrations)
  packages/database/prisma/migrations/20241204123506_upgrade_to_v6/migration.sql
Due: none

install dependencies on pnpm dev
  package.json
Due: none

modals provider fix
  apps/web/src/app/layout.tsx
Due: prettier --write

modals provider fix (#714)
  apps/web/src/app/layout.tsx
Due: prettier --write

db stuff
  packages/database/package.json
  packages/database/prisma/migrations/20241124140716_notifications/migration.sql
  packages/database/prisma/schema.prisma
Due: prisma format --schema packages/database/prisma/schema.prisma

optional comment mention creative id
  packages/database/prisma/migrations/20241124141432_notification_mention_optional/migration.sql
  packages/database/prisma/schema.prisma
Due: prisma format --schema packages/database/prisma/schema.prisma

endpoints
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/notification/notification-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

notifications
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241124141432_notification_mention_optional/migration.sql
  packages/database/prisma/migrations/20241124150120_receiving_user_id_rename/migration.sql
  packages/database/prisma/migrations/20241125171253_notifications/migration.sql
  packages/database/prisma/migrations/20241125171444_rename_user_ids/migration.sql
Due: prettier --write
