Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

.lintstagedrc.json:

{
  "*.graphql": ["prettier --write"],
  "*.ts": ["prettier --write"],
  "*.tsx": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.tf": "terraform fmt",
  "*.prisma": "prisma format --schema packages/database/prisma/schema.prisma"
}

Revert "remove health check configuration (#264)"
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

remove old heartbeat endpoint
  apps/server/src/index.ts
  infrastructure/modules/service/app_runner.tf
Due: prettier --write, terraform fmt

remove tracePropagationTargets
  apps/server/src/instrument.ts
Due: prettier --write

improve profile form error handling for server side errors
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Due: prettier --write

improve profile form error handling for server side errors (#265)
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Due: prettier --write

turbo pack is not compatible with sentry
  apps/web/package.json
Due: none

turbo pack is not compatible with sentry (#267)
  apps/web/package.json
Due: none

Revert "turbo pack is not compatible with sentry (#267)"
  apps/web/package.json
Due: none

log MODE environment variable
  apps/web/next.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

log MODE environment variable (#268)
  apps/web/next.config.mjs
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

jotai for insights & better responsiveness of filters
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/atoms/insights-atoms.ts
Due: prettier --write

has next page atom for insights
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/atoms/insights-atoms.ts
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

add environments in sentry
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/instrument.ts
  apps/server/src/utils/lambda-utils.ts
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  packages/channel/src/integration-helper.ts
  packages/database/package.json
  packages/database/src/client.ts
  packages/mode/.eslintrc.cjs
  packages/mode/package.json
  packages/mode/src/index.ts
  packages/mode/tsconfig.json
  packages/utils/src/env-helper.ts
  pnpm-lock.yaml
Due: prettier --write

add environments in sentry (#270)
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/instrument.ts
  apps/server/src/utils/lambda-utils.ts
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  packages/channel/src/integration-helper.ts
  packages/database/package.json
  packages/database/src/client.ts
  packages/mode/.eslintrc.cjs
  packages/mode/package.json
  packages/mode/src/index.ts
  packages/mode/tsconfig.json
  packages/utils/src/env-helper.ts
  pnpm-lock.yaml
Due: prettier --write

has next page controls improvement
  apps/web/src/app/(authenticated)/insights/components/page-controls.tsx
Due: prettier --write

243 migrate insights to use jotai (#269)
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/atoms/insights-atoms.ts
Due: prettier --write

fix debug token call
  packages/channel-meta/src/channel-meta.ts
Due: prettier --write

fix debug token call (#274)
  packages/channel-meta/src/channel-meta.ts
Due: prettier --write

change unique ad account keys
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240723175653_ad_account_change_unique/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

change unique ad account keys (#277)
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240723175653_ad_account_change_unique/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

sentry does not support --turbo
  apps/web/next.config.mjs
Due: none

connected integration button should be disabled for non admin users
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Due: prettier --write

invoke different lambda instances per integration during data ingress
  apps/server/src/utils/lambda-utils.ts
Due: prettier --write

invoke different lambda instances per integration during data ingress (#282)
  apps/server/src/utils/lambda-utils.ts
Due: prettier --write

process TikTok insights 500 at a time
  packages/channel-tiktok/src/channel-tiktok.ts
Due: prettier --write

process TikTok insights 500 at a time (#284)
  packages/channel-tiktok/src/channel-tiktok.ts
Due: prettier --write

connected integration button should be disabled for non admin users (#281)
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Due: prettier --write

add tik-tok lambdas
  .github/workflows/deploy-tiktok-check-report.yml
  .github/workflows/deploy-tiktok-process-report.yml
  apps/tiktok-check-report/.eslintrc.cjs
  apps/tiktok-check-report/.gitignore
  apps/tiktok-check-report/package.json
  apps/tiktok-check-report/src/index.ts
  apps/tiktok-check-report/tsconfig.json
  apps/tiktok-process-report/.eslintrc.cjs
  apps/tiktok-process-report/.gitignore
  apps/tiktok-process-report/package.json
  apps/tiktok-process-report/src/index.ts
  apps/tiktok-process-report/tsconfig.json
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/tiktok-reports.tf
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, terraform fmt

add tik-tok lambdas (#286)
  .github/workflows/deploy-tiktok-check-report.yml
  .github/workflows/deploy-tiktok-process-report.yml
  apps/tiktok-check-report/.eslintrc.cjs
  apps/tiktok-check-report/.gitignore
  apps/tiktok-check-report/package.json
  apps/tiktok-check-report/src/index.ts
  apps/tiktok-check-report/tsconfig.json
  apps/tiktok-process-report/.eslintrc.cjs
  apps/tiktok-process-report/.gitignore
  apps/tiktok-process-report/package.json
  apps/tiktok-process-report/src/index.ts
  apps/tiktok-process-report/tsconfig.json
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/tiktok-reports.tf
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, terraform fmt

group prod lambdas together
  .dockerignore
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/deploy-tiktok-check-report-local.yml
  .github/workflows/deploy-tiktok-check-report.yml
  Lambda.Dockerfile
  infrastructure/environments/local/local.tf
  infrastructure/environments/local/local_variables.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/tiktok-reports.tf
  infrastructure/modules/environment_potentially_local/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/tiktok/tiktok.tf
  infrastructure/modules/tiktok/tiktok_check_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_outputs.tf
  infrastructure/modules/tiktok/tiktok_process_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_queues.tf
  infrastructure/modules/tiktok/tiktok_variables.tf
Due: terraform fmt

group prod lambdas together (#287)
  .dockerignore
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/deploy-tiktok-check-report-local.yml
  .github/workflows/deploy-tiktok-check-report.yml
  Lambda.Dockerfile
  infrastructure/environments/local/local.tf
  infrastructure/environments/local/local_variables.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/tiktok-reports.tf
  infrastructure/modules/environment_potentially_local/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/tiktok/tiktok.tf
  infrastructure/modules/tiktok/tiktok_check_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_outputs.tf
  infrastructure/modules/tiktok/tiktok_process_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_queues.tf
  infrastructure/modules/tiktok/tiktok_variables.tf
Due: terraform fmt

add URL in queues, process report lambda does not need to read from queue
  apps/tiktok-check-report/src/index.ts
  apps/tiktok-process-report/package.json
  apps/tiktok-process-report/src/index.ts
Due: prettier --write

use dev account
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-tiktok-check-report-local.yml
Due: none

add meta queues
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/reports/check_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
  infrastructure/modules/reports/reports_outputs.tf
  infrastructure/modules/reports/reports_queues.tf
  infrastructure/modules/reports/reports_variables.tf
  infrastructure/modules/tiktok/tiktok.tf
  infrastructure/modules/tiktok/tiktok_check_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_outputs.tf
  infrastructure/modules/tiktok/tiktok_process_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_queues.tf
Due: terraform fmt

fix lambda names in workflows
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/deploy-tiktok-check-report-local.yml
Due: none

change lambda names
  apps/check-report/.eslintrc.cjs
  apps/check-report/.gitignore
  apps/check-report/package.json
  apps/check-report/src/config.ts
  apps/check-report/src/index.ts
  apps/check-report/tsconfig.json
  apps/process-report/.eslintrc.cjs
  apps/process-report/.gitignore
  apps/process-report/package.json
  apps/process-report/src/index.ts
  apps/process-report/tsconfig.json
  apps/tiktok-check-report/src/index.ts
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  pnpm-lock.yaml
Due: prettier --write

re add lambdas in tf
  infrastructure/modules/reports/check_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
Due: terraform fmt

remove lambda for local
  infrastructure/modules/reports/check_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
Due: terraform fmt
