Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

Figure out migrate workflow
  .github/workflows/tmp.yml
Due: none

Figure out migrate workflow
  .github/workflows/build-deploy-service.yml
Due: none

Github role can access ssm parameters
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/service_iam.tf
  infrastructure/modules/service/service_variables.tf
Due: terraform fmt

Ignore value change in database_url
  .github/workflows/tmp.yml
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

Recreate app runner
  apps/server/src/index.ts
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/app_runner.tf
Due: prettier --write, eslint --max-warnings=0, terraform fmt

Build app runner for amd
  .github/workflows/build-deploy-service.yml
  .idea/aws.xml
  apps/server/src/index.ts
Due: prettier --write, eslint --max-warnings=0

Build app runner for amd
  .github/workflows/build-deploy-service.yml
  .idea/vcs.xml
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/app_runner.tf
  infrastructure/modules/service/service_variables.tf
Due: terraform fmt

Revamp codegen
  .husky/pre-commit
  .idea/vcs.xml
  .lintstagedrc.json
  .prettierignore
  apps/server/package.json
  apps/server/src/schema/codegen.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  infrastructure/environments/management/users.tf
  infrastructure/modules/service/app_runner.tf
  packages/config-eslint/next.cjs
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0, terraform fmt

Reset
  .husky/pre-commit
  apps/server/src/schema/codegen.ts
  apps/web/package.json
  apps/web/src/config.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/modules/environment/frontend.tf
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0, terraform fmt

Migrate next-form-app
  apps/web/package.json
  apps/web/src/app/actions.ts
  apps/web/src/app/add-form.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/lib/urql-client.ts
  apps/web/src/util/create-urql-requester.ts
  apps/web/src/util/handle-urql-request.ts
  apps/web/src/util/schemas/login-schemas.ts
  packages/config-typescript/nextjs.json
  packages/logger/src/index.ts
  packages/ui/package.json
  packages/ui/src/button.tsx
  packages/ui/src/input.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0

Create a base sign up page
  README.md
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/src/app/(login)/(normal)/layout.tsx
  apps/web/src/app/(login)/(normal)/sign-up/page.tsx
  apps/web/src/app/(login)/layout.tsx
  apps/web/src/app/add-form.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/react-hook/layout.tsx
  apps/web/src/app/react-hook/page.tsx
  apps/web/tailwind.config.ts
  packages/config-eslint/next.cjs
  packages/config-tailwind/tailwind.config.ts
  packages/ui/package.json
  packages/ui/postcss.config.cjs
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/input.tsx
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0

Add lint-staged again
  .husky/pre-commit
  .lintstagedrc.json
Due: none

Make sign up look like adsviewer
  README.md
  apps/web/public/wide-logo.svg
  apps/web/src/app/(login)/(normal)/layout.tsx
  apps/web/src/app/(login)/(normal)/sign-up/page.tsx
  apps/web/src/app/(login)/layout.tsx
  apps/web/src/app/layout.tsx
  packages/ui/src/button.tsx
Due: none

Add favico
  apps/web/src/app/(login)/(normal)/page.tsx
  apps/web/src/app/add-form.tsx
  apps/web/src/app/favicon.ico
  apps/web/src/app/favicon/apple-icon.png
  apps/web/src/app/favicon/icon.png
  apps/web/src/app/favicon/icon1.png
  apps/web/src/app/favicon/icon2.png
  apps/web/src/app/favicon/icon3.svg
  apps/web/src/app/favicon/icon4.png
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/react-hook/layout.tsx
  apps/web/src/app/react-hook/page.tsx
  packages/ui/src/button.tsx
Due: none

Add paths
  apps/web/src/app/(login)/(normal)/sign-up/page.tsx
  apps/web/src/app/(user)/profile/page.tsx
  apps/web/src/app/actions.ts
  apps/web/tsconfig.json
Due: prettier --write, eslint --max-warnings=0

Migrate to the other form react form
  apps/web/package.json
  apps/web/src/app/(login)/(normal)/sign-up/page.tsx
  apps/web/src/app/(login)/actions.ts
  apps/web/src/components/common/form.tsx
  apps/web/src/util/schemas/login-schemas.ts
  packages/config-tailwind/tailwind.config.ts
  packages/ui/package.json
  packages/ui/src/button.tsx
  packages/ui/src/input.tsx
  packages/ui/src/label.tsx
  packages/ui/src/tailwind-utils.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0

Update packages
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/logger/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: none

Use global css sources from @repo/ui
  .idea/codeStyles/codeStyleConfig.xml
  apps/web/src/app/(login)/(normal)/sign-up/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/common/form.tsx
  packages/config-tailwind/tailwind.config.ts
  packages/ui/package.json
  packages/ui/src/globals.css
  packages/ui/src/styles.css
Due: prettier --write, eslint --max-warnings=0

Add signIn page and disable submit when notValid
  apps/web/src/app/(login)/(normal)/sign-in/page.tsx
  apps/web/src/app/(login)/actions.ts
  apps/web/src/components/common/form.tsx
  apps/web/src/util/handle-urql-request.ts
  apps/web/src/util/schemas/login-schemas.ts
  packages/ui/src/button.tsx
Due: prettier --write, eslint --max-warnings=0

Jwt works, no refresh, no encrypt
  apps/server/src/auth.ts
  apps/server/src/config.ts
  apps/server/src/google.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/google-login-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/package.json
  apps/web/src/app/(logged-in)/actions.ts
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/me.tsx
  apps/web/src/app/(logged-in)/profile/page.tsx
  apps/web/src/app/(logged-in)/profileServer/page.tsx
  apps/web/src/app/(logged-in)/urql-provider.tsx
  apps/web/src/app/(login)/(normal)/sign-out/route.ts
  apps/web/src/app/(login)/actions.ts
  apps/web/src/app/(user)/profile/page.tsx
  apps/web/src/app/actions.ts
  apps/web/src/components/user-profile.tsx
  apps/web/src/config.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/lib/urql-client.ts
  apps/web/src/lib/urql/urql-auth.ts
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/server_secrets.tf
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0, terraform fmt

Create common zod schema for config
  apps/server/src/auth.ts
  apps/server/src/config.ts
  apps/web/src/app/(login)/actions.ts
  apps/web/src/app/actions.ts
  apps/web/src/config.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0

Jwt is now refreshed
  apps/server/src/auth.ts
  apps/web/src/app/(logged-in)/me.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/lib/urql/urql-auth.ts
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings=0

Create the sign up/in links
  README.md
  apps/web/src/app/(login)/(normal)/sign-in/page.tsx
  apps/web/src/app/(login)/(normal)/sign-up/page.tsx
Due: none

Better handling of tf secrets, fix memory in app runner
  .github/workflows/auto-update.yml
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/server_secrets.tf
  infrastructure/modules/service/app_runner.tf
Due: terraform fmt

Auto-update packages
  .github/workflows/auto-update.yml
  pnpm-lock.yaml
Due: none

Update packages
  .github/workflows/auto-update.yml
  .idea/vcs.xml
  apps/server/package.json
  apps/web/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/config-typescript/package.json
  packages/database/package.json
  packages/logger/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: none

Revisit eslint
  apps/server/.eslintrc.cjs
  apps/server/src/google.ts
  apps/server/src/index.ts
  packages/config-eslint/library.cjs
  packages/utils/src/env-helper.ts
  packages/utils/src/password-helper.ts
Due: prettier --write, eslint --max-warnings=0

Enable analytics and speed insights
  .github/commit_guidelines.md
  .github/workflows/auto-update.yml
  .github/workflows/pr-labeler.yml
  apps/server/package.json
  apps/server/src/email.ts
  apps/server/src/schema/user/user-operations.ts
  apps/web/src/app/layout.tsx
Due: prettier --write, eslint --max-warnings=0

Add suspense boundary in sign in/up
  apps/web/src/app/(login)/(normal)/sign-in/page.tsx
  apps/web/src/app/(login)/(normal)/sign-up/page.tsx
  apps/web/src/components/login/sign-in.tsx
  apps/web/src/components/login/sign-up.tsx
  apps/web/tailwind.config.ts
  packages/ui/package.json
  packages/ui/src/fallback.tsx
  packages/ui/src/spinner.tsx
Due: prettier --write, eslint --max-warnings=0

Use the <Form> from form react hook
  apps/web/src/app/(login)/(normal)/sign-out/route.ts
  apps/web/src/app/(login)/actions.ts
  apps/web/src/app/api/login/sign-in/route.ts
  apps/web/src/app/api/login/sign-up/route.ts
  apps/web/src/components/login/login-form.tsx
  apps/web/src/components/login/sign-in.tsx
  apps/web/src/components/login/sign-up.tsx
  apps/web/src/middleware.ts
  packages/ui/src/button.tsx
Due: prettier --write, eslint --max-warnings=0

Replace Link with Btn on Sign Out
  apps/web/src/app/(logged-in)/profile/page.tsx
  apps/web/src/app/(logged-in)/profileServer/page.tsx
  apps/web/src/app/(login)/(normal)/actions.ts
  apps/web/src/components/login/sign-out-btn.tsx
Due: prettier --write, eslint --max-warnings=0

Temporary remove disabled status from sign in/up btn
  packages/ui/src/button.tsx
Due: none

Fix dark input colour and keep only is submitting
  packages/ui/src/button.tsx
  packages/ui/src/input.tsx
Due: none

Fix graphql endpoint in vercel
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

Add github page txt
  .idea/dataSources.xml
  infrastructure/modules/environment/route53.tf
Due: terraform fmt

Add dkim, spf and dmarc txt entries
  infrastructure/modules/environment/route53.tf
Due: terraform fmt

Create dev aws account, add iresha
  infrastructure/environments/local/local.tf
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/groups.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/management/management_outputs.tf
  infrastructure/environments/management/terraform.tf
  infrastructure/environments/management/users.tf
  infrastructure/environments/prod/prod_outputs.tf
  infrastructure/environments/prod/prod_variables.tf
Due: terraform fmt

Create local certificates and s3
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
Due: terraform fmt

Update/create readmes
  .idea/dataSources.xml
  .lintstagedrc.json
  README.md
  amplify.yml
  apps/server/package.json
  customHttp.yml
  infrastructure/README.md
  packages/database/src/config.ts
Due: prettier --write, eslint --max-warnings=0

Path conditions:
  prettier --write: (any of: *.graphql) or (any of: *.ts)
  eslint --max-warnings=0: any of: *.ts
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
