Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

when remove user from org, remove the user completely if status invited
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Due: prettier --write

fixed new users to be redirected to /confirm-email only when appropriate
  apps/server/src/schema/user/user-operations.ts
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
Due: prettier --write

email input ux fix for focus loss to add email
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
Due: prettier --write

add reddit, snapchat, google coming soon integrations (#331)
  apps/server/src/schema/generated/schema.graphql
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/public/integrations/google-logo-icon.svg
  apps/web/public/integrations/reddit-logo-icon.svg
  apps/web/public/integrations/snapchat-logo-icon.svg
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240808134951_add_commingsoon_integrations/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

reset currentOrganizationId when a user is removed from org
  apps/server/src/schema/organization/organization-operations.ts
Due: prettier --write

improved invite user UX
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
Due: prettier --write

enable social login on invite flow
  apps/web/src/app/(unauthenticated)/sign-in/actions.ts
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
Due: prettier --write

add searchParams in dependencies
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
Due: prettier --write

assign role on invite
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
Due: prettier --write

email filling last name on email param existence (autofill fix)
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
Due: prettier --write

logo fix in unauth screens
  apps/web/src/app/(unauthenticated)/layout.tsx
  apps/web/src/components/misc/logo-simple.tsx
Due: prettier --write

logo fix in unauth screens (#337)
  apps/web/src/app/(unauthenticated)/layout.tsx
  apps/web/src/components/misc/logo-simple.tsx
Due: prettier --write

set user roles appropriately on invite
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
Due: prettier --write

302 members management (#333)
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(unauthenticated)/sign-in/actions.ts
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/app/atoms/organization-atoms.ts
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/graphql/organization.graphql
  apps/web/src/util/access-utils.ts
  apps/web/src/util/handle-urql-request.ts
  apps/web/src/util/schemas/login-schemas.ts
  apps/web/src/util/url-query-utils.ts
  packages/utils/src/shared-names.ts
Due: prettier --write

add quarter interval
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/utils/src/date-utils.ts
Due: prettier --write

increase insights range to year to date
  packages/channel-meta/src/channel-meta.ts
  packages/channel/src/report-process.ts
  packages/utils/src/date-utils.ts
Due: prettier --write

new .idea
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/dataSources.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/libraries/test_package.xml
  .idea/libraries/test_package2.xml
  .idea/libraries/test_package3.xml
  .idea/libraries/ts_commonjs_default_export.xml
  .idea/libraries/ts_commonjs_default_export2.xml
  .idea/libraries/ts_commonjs_default_export3.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/sqldialects.xml
  .idea/turboviewer.iml
Due: none

move report process from lambda to app runner
  .idea/codeStyles/codeStyleConfig.xml
  infrastructure/environments/local/local.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
  infrastructure/modules/service/service_outputs.tf
  packages/channel/src/report-process.ts
Due: prettier --write, terraform fmt

add quarter in IntervalType
  packages/utils/src/date-utils.ts
Due: prettier --write

335-increase-the-insights-range-to-year-to-date-add-quarter-interval (#338)
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/dataSources.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/libraries/test_package.xml
  .idea/libraries/test_package2.xml
  .idea/libraries/test_package3.xml
  .idea/libraries/ts_commonjs_default_export.xml
  .idea/libraries/ts_commonjs_default_export2.xml
  .idea/libraries/ts_commonjs_default_export3.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/sqldialects.xml
  .idea/turboviewer.iml
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/local/local.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
  infrastructure/modules/service/service_outputs.tf
  packages/channel-meta/src/channel-meta.ts
  packages/channel/src/report-process.ts
  packages/utils/src/date-utils.ts
Due: prettier --write, terraform fmt

remove channel-report
  .github/workflows/deploy-lambdas-prod.yml
  apps/channel-report/.eslintrc.cjs
  apps/channel-report/.gitignore
  apps/channel-report/package.json
  apps/channel-report/src/index.ts
  apps/channel-report/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

335-increase-the-insights-range-to-year-to-date-add-quarter-interval (#339)
  .github/workflows/deploy-lambdas-prod.yml
  apps/channel-report/.eslintrc.cjs
  apps/channel-report/.gitignore
  apps/channel-report/package.json
  apps/channel-report/src/index.ts
  apps/channel-report/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

new .idea
  .idea/codeStyles/codeStyleConfig.xml
Due: none

move report process from lambda to app runner
  .idea/codeStyles/codeStyleConfig.xml
Due: none

new .idea
  .idea/dataSources.xml
Due: none

log Checking reports
  packages/channel/src/report-process.ts
Due: prettier --write

335-increase-the-insights-range-to-year-to-date-add-quarter-interval (#340)
  .idea/dataSources.xml
  packages/channel/src/report-process.ts
Due: prettier --write

log when deleting old insights
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/report-process.ts
Due: prettier --write

335-increase-the-insights-range-to-year-to-date-add-quarter-interval (#341)
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/report-process.ts
Due: prettier --write

date-utils now obey UTC
  .idea/dataSources.xml
  apps/server/src/schema/integrations/integration-types.ts
  packages/utils/src/date-utils.ts
Due: prettier --write

date-utils now obey UTC (#343)
  .idea/dataSources.xml
  apps/server/src/schema/integrations/integration-types.ts
  packages/utils/src/date-utils.ts
Due: prettier --write

don't restart the ad report if already underway
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
Due: prettier --write

335 increase the insights range to year to date add quarter interval (#345)
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
Due: prettier --write

trigger checkReports from sns
  apps/server/src/index.ts
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/sns.tf
  packages/channel/src/report-process.ts
Due: prettier --write, terraform fmt

trigger checkReports from sns (#346)
  apps/server/src/index.ts
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/sns.tf
  packages/channel/src/report-process.ts
Due: prettier --write, terraform fmt

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
