Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

minor typos
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/Brands/brand-data.tsx
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
Due: prettier --write

add icons
  apps/backoffice/src/app/icons/apple-icon.png
  apps/landing-page/src/app/favicon.ico
  apps/landing-page/src/app/icons/apple-icon.png
  apps/landing-page/src/app/icons/icon1.svg
  apps/landing-page/src/app/icons/icon2.png
  apps/landing-page/src/app/icons/icon3.png
  apps/landing-page/src/app/icons/icon4.png
  apps/landing-page/src/app/icons/icon5.png
  apps/landing-page/src/app/icons/icon6.png
  apps/landing-page/src/app/icons/icon7.png
Due: none

required fields in contact form
  apps/landing-page/src/components/Contact/index.tsx
  apps/web/package.json
Due: prettier --write

add graphql endpoints
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  apps/landing-page/src/env.mjs
  pnpm-lock.yaml
Due: none

hero image fixes
  apps/landing-page/src/components/Hero/index.tsx
Due: prettier --write

header fix 2
  apps/landing-page/src/components/Hero/index.tsx
Due: prettier --write

pricing improvements
  apps/landing-page/src/components/Pricing/index.tsx
Due: prettier --write

fixes in sections
  apps/landing-page/messages/en.json
  apps/landing-page/src/app/(site)/page.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/Header/menu-data.tsx
  apps/landing-page/src/components/Integration/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
Due: prettier --write

scroll into section correct offset
  apps/landing-page/src/components/Features/index.tsx
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Integration/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
Due: prettier --write

theme toggler fixes
  apps/landing-page/src/components/Header/theme-toggler.tsx
Due: prettier --write

smooth scrolling
  apps/landing-page/src/app/globals.css
  apps/landing-page/src/components/Header/index.tsx
Due: prettier --write

generate sourcemaps on prod
  apps/landing-page/next.config.mjs
Due: none

brands changes
  apps/landing-page/src/components/Brands/brand-data.tsx
  apps/landing-page/src/components/Brands/index.tsx
Due: prettier --write

lazy load theme toggler
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Header/theme-toggler.tsx
Due: prettier --write

cleanup
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/Integration/index.tsx
Due: prettier --write

hide obsolete pages
  apps/landing-page/messages/en.json
  apps/landing-page/src/app/(site)/(blog)/blog-details/page.tsx
  apps/landing-page/src/app/(site)/(blog)/page.tsx
  apps/landing-page/src/app/(site)/(docs)/page.tsx
  apps/landing-page/src/app/(site)/(error)/page.tsx
  apps/landing-page/src/app/(site)/(support)/page.tsx
  apps/landing-page/src/components/Footer/index.tsx
Due: prettier --write

flip generate - codegen in husky
  .husky/pre-commit
Due: none

more brands improvements
  apps/landing-page/src/components/Integration/index.tsx
Due: prettier --write

system color scheme toggler
  apps/landing-page/package.json
  apps/landing-page/public/images/icon/icon-auto.svg
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/Header/theme-toggler.tsx
  pnpm-lock.yaml
Due: prettier --write

terms and conditions page
  apps/landing-page/src/app/(site)/terms-and-conditions/page.tsx
Due: prettier --write

remove commented out sections
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/Header/index.tsx
Due: prettier --write

brands fixes
  apps/landing-page/src/components/Brands/index.tsx
  apps/landing-page/src/components/Brands/single-brand.tsx
Due: prettier --write

delete non-needed code, rename images
  apps/landing-page/public/images/brand/brand-11.svg
  apps/landing-page/public/images/brand/brand-dark-05.svg
  apps/landing-page/public/images/brand/brand-dark-06.svg
  apps/landing-page/public/images/brand/brand-faire-dark.png
  apps/landing-page/public/images/brand/brand-faire-light.png
  apps/landing-page/public/images/brand/brand-foome.svg
  apps/landing-page/public/images/brand/brand-google-ads.svg
  apps/landing-page/public/images/brand/brand-light-02.svg
  apps/landing-page/public/images/brand/brand-light-04.svg
  apps/landing-page/public/images/brand/brand-light-05.svg
  apps/landing-page/public/images/brand/brand-light-06.svg
  apps/landing-page/public/images/brand/brand-linkedIn.svg
  apps/landing-page/public/images/brand/brand-meta.svg
  apps/landing-page/public/images/brand/brand-snapchat.svg
  apps/landing-page/public/images/brand/brand-the-alpha-men.svg
  apps/landing-page/public/images/brand/brand-tiktok.svg
  apps/landing-page/public/images/brand/brand-versuni-dark.png
  apps/landing-page/public/images/brand/brand-versuni-light.png
  apps/landing-page/public/images/favicon.ico
  apps/landing-page/public/next.svg
  apps/landing-page/public/vercel.svg
  apps/landing-page/src/app/(site)/auth/signin/page.tsx
  apps/landing-page/src/app/(site)/auth/signup/page.tsx
  apps/landing-page/src/app/(site)/head.tsx
  apps/landing-page/src/components/Auth/signin.tsx
  apps/landing-page/src/components/Auth/signup.tsx
  apps/landing-page/src/components/Brands/brand-data.tsx
  apps/landing-page/src/components/Integration/index.tsx
  apps/landing-page/src/markdown/docs/bootstrap-template.mdx
  apps/landing-page/src/markdown/docs/contact-form.mdx
  apps/landing-page/src/markdown/docs/style-guide.mdx
  apps/landing-page/src/markdown/docs/tailwind-component.mdx
  apps/landing-page/src/markdown/docs/tailwind-template.mdx
Due: prettier --write

logo size fix
  apps/landing-page/src/components/Header/index.tsx
Due: prettier --write

primary color changed to reflect that of /web
  apps/landing-page/tailwind.config.ts
Due: prettier --write

auto theme toggler fix
  apps/landing-page/src/components/Header/theme-toggler.tsx
Due: prettier --write

new brands
  apps/landing-page/public/images/brand/brand-facebook.svg
  apps/landing-page/public/images/brand/brand-instagram.svg
  apps/landing-page/public/images/brand/brand-youtube.svg
Due: none

align integration icons
  apps/landing-page/src/components/Integration/index.tsx
Due: prettier --write

go to support section from pricing
  apps/landing-page/src/components/Pricing/index.tsx
Due: prettier --write

add landing-page .env
  apps/landing-page/.env.production
  apps/landing-page/next.config.mjs
Due: none

remove experimental
  apps/landing-page/next.config.mjs
Due: none

onboard Aaryan
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/users.tf
Due: terraform fmt

onboard Aaryan (#479)
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/users.tf
Due: terraform fmt

forms (contact & newsletter)
  apps/landing-page/src/app/context/toast-context.tsx
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
Due: prettier --write

pricing changes
  apps/landing-page/src/components/Pricing/index.tsx
Due: prettier --write

add workflow-dispatch to auto-update flow
  .github/workflows/auto-update.yml
Due: none

only update root packages
  package.json
Due: none

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
