Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

Rename next env variables
  apps/web/src/app/(logged-in)/urql-provider.tsx
  apps/web/src/config.ts
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  infrastructure/modules/environment/server_secrets.tf
Due: prettier --write, terraform fmt

Trigger a push
  apps/web/src/lib/urql/urql-auth.ts
Due: prettier --write

Trigger a push
  .gitignore
  apps/web/src/lib/urql/urql-auth.ts
Due: prettier --write

Revert "Trigger a push"
  .gitignore
  apps/web/src/lib/urql/urql-auth.ts
Due: prettier --write

Rename public url env variable
  apps/server/src/config.ts
  apps/web/src/config.ts
  apps/web/src/middleware.ts
  packages/utils/src/config.ts
Due: prettier --write

Try deploying frontend with GitHub actions
  .github/workflows/deploy_frontend.yml
  .gitignore
Due: none

Try deploying frontend with GitHub actions
  .github/workflows/deploy_frontend.yml
Due: none

Speed up vercel deployment
  .github/workflows/deploy_frontend.yml
Due: none

Rename public next variables
  apps/server/src/config.ts
  apps/web/src/app/(logged-in)/urql-provider.tsx
  apps/web/src/config.ts
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  packages/utils/src/config.ts
Due: prettier --write

Add public next.js variables to ci/cd
  .github/workflows/deploy_frontend.yml
Due: none

Check public env variables
  .github/workflows/deploy_frontend.yml
Due: none

Check public env variables
  .github/workflows/deploy_frontend.yml
  turbo.json
Due: none

User .env.production
  .github/workflows/deploy_frontend.yml
  apps/web/.env.production
Due: none

Use env.mjs
  apps/web/package.json
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/urql-provider.tsx
  apps/web/src/app/(login)/(normal)/actions.ts
  apps/web/src/app/(login)/(normal)/sign-out/route.ts
  apps/web/src/app/api/login/sign-in/route.ts
  apps/web/src/app/api/login/sign-up/route.ts
  apps/web/src/components/login/login-form.tsx
  apps/web/src/config.ts
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  apps/web/tsconfig.json
  packages/config-eslint/next.cjs
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

Use rewrite to avoid rest options
  .github/workflows/deploy_frontend.yml
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/app/(logged-in)/initial-setup-subscription.tsx
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  turbo.json
Due: prettier --write

Update readme
  README.md
  apps/web/.env.production
Due: prettier --write

Remove delay
  .github/workflows/deploy_frontend.yml
  apps/server/src/contexts/channels/integration-helper.ts
  apps/web/src/app/(logged-in)/initial-setup-subscription.tsx
Due: prettier --write

Remove delay
  apps/server/src/contexts/channels/integration-helper.ts
Due: prettier --write

Add Docker turbo cache
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-production.yml
  apps/server/Dockerfile
Due: none

Add Docker turbo cache
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-production.yml
  apps/web/.env.production
Due: none

Add slack webhook url
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

Log redis error
  packages/redis/src/client.ts
Due: prettier --write

Downgrade redis error to warning
  packages/redis/src/client.ts
Due: prettier --write

Honor redirect on sign in/up
  apps/web/src/components/login/login-form.tsx
  package.json
Due: prettier --write

Auto-update packages
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/config-eslint/package.json
  packages/database/package.json
  packages/logger/package.json
  packages/redis/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: none

Don't update eslint
  package.json
  pnpm-lock.yaml
Due: none

Remove black aside menu
  README.md
  apps/web/src/app/(logged-in)/aside.tsx
  apps/web/src/app/(logged-in)/me.tsx
  apps/web/src/components/home/active-link.tsx
  apps/web/src/components/login/sign-out-btn.tsx
  packages/config-tailwind/tailwind.config.ts
  packages/ui/src/badge.tsx
  packages/ui/src/globals.css
Due: prettier --write

Create queries in the backend
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/user-types.ts
  apps/server/src/utils/date-utils.ts
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards-call.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  packages/database/prisma/migrations/20240422105655_ad_account_name/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Add icons for insights>
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/package.json
  apps/web/src/app/[locale]/(logged-in)/insights/ad-id.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/device.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/position.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/publisher.tsx
  apps/web/src/i18n.ts
  apps/web/src/middleware.ts
  pnpm-lock.yaml
Due: prettier --write

Add tool tip in position
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/package.json
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/position.tsx
  packages/config-tailwind/tailwind.config.ts
  packages/ui/src/globals.css
  pnpm-lock.yaml
Due: prettier --write

Add orderBy
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
  apps/web/src/app/[locale]/(logged-in)/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/page.tsx
  apps/web/src/app/[locale]/(login)/(normal)/page.tsx
  apps/web/src/components/filters/order-by-select.tsx
  apps/web/src/components/filters/order-by.tsx
  apps/web/src/util/query-string-utils.ts
  packages/config-tailwind/tailwind.config.ts
  packages/ui/package.json
  packages/ui/src/globals.css
  packages/ui/src/select.tsx
Due: prettier --write

Add pagination
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/insights/insights-no-call.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/page.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/order-by.tsx
  apps/web/src/components/filters/order-select.tsx
  apps/web/src/components/filters/order.tsx
  apps/web/src/components/filters/page-size-select.tsx
  apps/web/src/components/filters/page-size.tsx
  apps/web/src/components/filters/pagination.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/query-string-utils.ts
  packages/ui/src/fallback.tsx
  packages/ui/src/select.tsx
  packages/ui/src/spinner.tsx
Due: prettier --write

Add groupBy filters
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/insights/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/layout.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/app/[locale]/(logged-in)/layout.tsx
  apps/web/src/app/[locale]/(logged-in)/settings/layout.tsx
  apps/web/src/app/[locale]/(login)/(normal)/sign-in/page.tsx
  apps/web/src/app/[locale]/(login)/(normal)/sign-up/page.tsx
  apps/web/src/components/filters/grouped-checkbox.tsx
  apps/web/src/components/filters/order-by-select.tsx
  apps/web/src/components/filters/order-by.tsx
  apps/web/src/components/filters/order.tsx
  apps/web/src/components/filters/page-size-select.tsx
  apps/web/src/components/filters/page-size.tsx
  apps/web/src/components/filters/pagination.tsx
  packages/ui/package.json
  packages/ui/src/checkbox.tsx
Due: prettier --write

Save Ad name
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/data-object-utils.ts
  apps/web/src/app/[locale]/(logged-in)/insights/ad-id.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/ad-name.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/database/prisma/migrations/20240426162256_ad_name/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Add account Id filter and group by
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/insights/account-id.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights-no-call.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/app/[locale]/(logged-in)/insights/spend.tsx
  apps/web/src/components/filters/grouped-checkbox.tsx
  apps/web/src/components/filters/order-by-select.tsx
  apps/web/src/components/filters/order-by.tsx
  apps/web/src/components/filters/order-select.tsx
  apps/web/src/components/filters/order.tsx
  apps/web/src/components/filters/page-size.tsx
  apps/web/src/components/filters/search-params-select.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/database/prisma/migrations/20240429070515_20240427130848_insights_indces_currency_a_account_id/migration.sql
  packages/database/prisma/schema.prisma
  packages/ui/src/fallback.tsx
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Add rest of the filters (not ad id yet)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/insights/account-id.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/grouped-checkbox.tsx
  apps/web/src/components/filters/multi-filter.tsx
  apps/web/src/components/filters/multi-select-dropdown.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
