Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

.lintstagedrc.json:

{
  "*.graphql": ["prettier --write"],
  "*.ts": ["prettier --write"],
  "*.tsx": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.tf": "terraform fmt",
  "*.prisma": "prisma format --schema packages/database/prisma/schema.prisma"
}

Fix polynomial regular expression
  packages/utils/src/password-helper.ts
Due: prettier --write

Verify github domain
  infrastructure/modules/environment/route53.tf
Due: terraform fmt

Add menu with no options
  apps/web/public/circles.svg
  apps/web/public/next.svg
  apps/web/public/turborepo.svg
  apps/web/public/vercel.svg
  apps/web/public/wide-logo.svg
  apps/web/src/app/(logged-in)/aside.tsx
  apps/web/src/app/(logged-in)/dashboard/page.tsx
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/logo-full.tsx
  apps/web/src/app/(logged-in)/logo.tsx
  apps/web/src/app/(logged-in)/me.tsx
  apps/web/src/app/(logged-in)/profile/page.tsx
  apps/web/src/app/(logged-in)/profileServer/page.tsx
  apps/web/src/app/api/login/sign-in/route.ts
  apps/web/src/app/api/login/sign-up/route.ts
  apps/web/src/components/login/login-form.tsx
  apps/web/src/components/login/sign-out-btn.tsx
  apps/web/src/middleware.ts
  packages/database/package.json
  packages/ui/src/tailwind-utils.ts
Due: prettier --write

Add two options on the menu
  apps/web/src/app/(logged-in)/aside.tsx
  apps/web/src/app/(logged-in)/me.tsx
  apps/web/src/app/(logged-in)/placements/page.tsx
  apps/web/src/app/(logged-in)/settings/integrations/page.tsx
  apps/web/src/components/home/active-link.tsx
  apps/web/src/components/login/login-form.tsx
  apps/web/src/components/login/sign-out-btn.tsx
  apps/web/src/middleware.ts
  packages/config-tailwind/tailwind.config.ts
  packages/database/package.json
  packages/ui/src/globals.css
  packages/ui/src/tailwind-utils.ts
Due: prettier --write

added fixes while initial setup(Thanks Giorgos)
  apps/server/package.json
  packages/database/package.json
Due: none

updated readme
  README.md
  apps/server/package.json
Due: prettier --write

Revert "added lock.yaml file"
  pnpm-lock.yaml
Due: none

added lock.yaml file
  pnpm-lock.yaml
Due: none

added pnpm-lock.yaml file
  pnpm-lock.yaml
Due: none

undo a change
  packages/database/package.json
Due: none

fixed typo errors
  README.md
Due: prettier --write

added fixes while initial setup(Thanks Giorgos) (#18)
  README.md
  apps/server/package.json
  pnpm-lock.yaml
Due: prettier --write

Create settings Coming soon
  apps/server/src/google.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/user/google-login-operations.ts
  apps/web/public/integrations/facebook-logo-icon.svg
  apps/web/public/integrations/linkedin-logo-icon.svg
  apps/web/public/integrations/tiktok-logo-icon.svg
  apps/web/src/app/(logged-in)/aside.tsx
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/logo.tsx
  apps/web/src/app/(logged-in)/placements/page.tsx
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
  apps/web/src/app/(logged-in)/settings/integrations/page.tsx
  apps/web/src/app/(logged-in)/settings/layout.tsx
  apps/web/src/components/home/active-link.tsx
  apps/web/src/components/login/sign-in.tsx
  apps/web/src/components/login/sign-out-btn.tsx
  apps/web/src/components/login/sign-up.tsx
  apps/web/src/components/user-profile.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/util/types.ts
  package.json
  packages/database/package.json
  packages/database/prisma/migrations/20240407171823_create_integration/migration.sql
  packages/database/prisma/schema.prisma
  packages/ui/package.json
  packages/ui/src/badge.tsx
  packages/ui/src/button.tsx
  packages/utils/src/error-helper.ts
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Server now serves the correct integration status
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
Due: prettier --write

Install terraform in root
  package.json
  pnpm-lock.yaml
Due: none

Add better fallback in settings cards
  apps/server/package.json
  apps/server/src/config.ts
  apps/server/src/contexts/channels/fb/fb.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards-call.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
  apps/web/src/app/(logged-in)/settings/integrations/page.tsx
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  package.json
  patches/graphql@16.8.1.patch
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, terraform fmt

Capitalize server's env vars
  infrastructure/modules/environment/server_secrets.tf
  packages/utils/src/password-helper.ts
Due: prettier --write, terraform fmt

Fb BE integration woks
  .husky/pre-commit
  README.md
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/config.ts
  apps/server/src/contexts/channels/channel-helper.ts
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb.ts
  apps/server/src/email.ts
  apps/server/src/google.ts
  apps/server/src/index.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/utils/aes-util.ts
  apps/web/package.json
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/database/package.json
  packages/database/prisma/migrations/20240409210034_integration_refactoring/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/.eslintrc.cjs
  packages/redis/package.json
  packages/redis/src/client.ts
  packages/redis/src/config.ts
  packages/redis/tsconfig.json
  packages/utils/src/error-helper.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

Add fb sign out functionality
  apps/server/package.json
  apps/server/src/contexts/channels/channel-helper.ts
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/fb/fb.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/contexts/channels/integration-util.ts
  apps/server/src/google.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240410203220_integration_status/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/error-helper.ts
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Add fb de-auth
  apps/server/package.json
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-util.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  pnpm-lock.yaml
Due: prettier --write

Add FE elements
  .idea/inspectionProfiles/Project_Default.xml
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/errors.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/package.json
  apps/web/src/app/(logged-in)/aside.tsx
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/settings/integrations/actions.ts
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
  apps/web/src/app/(logged-in)/toaster.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  packages/config-tailwind/tailwind.config.ts
  packages/ui/src/button.tsx
  packages/ui/src/globals.css
  pnpm-lock.yaml
Due: prettier --write

Fix fb key length restriction
  apps/server/src/config.ts
Due: prettier --write

Get token expiration date
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/contexts/channels/integration-util.ts
  apps/server/src/index.ts
Due: prettier --write

Fix Overly permissive regular expression range
  apps/server/src/contexts/channels/integration-helper.ts
Due: prettier --write

Use grid
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
Due: prettier --write

Facebook progress bar
  apps/server/package.json
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/pubsub.ts
  apps/web/package.json
  apps/web/src/app/(logged-in)/fb-initial-setup-subscription.tsx
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
  apps/web/src/app/(logged-in)/urql-provider.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/integration.graphql
  packages/redis/package.json
  packages/redis/src/client.ts
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Due: prettier --write

Add auth in subscription
  README.md
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/pubsub.ts
  apps/web/src/app/(logged-in)/fb-initial-setup-subscription.tsx
  apps/web/src/app/(logged-in)/initial-setup-subscription.tsx
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/urql-provider.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/util/types.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add api_endpoint and fb documentation
  README.md
  apps/web/README.md
Due: prettier --write

Remove catalog_management scope
  apps/server/src/contexts/channels/fb/fb-channel.ts
Due: prettier --write

Fix codegen
  .husky/pre-commit
  apps/server/package.json
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  pnpm-lock.yaml
Due: prettier --write

Get creatives and adsPlacement
  apps/server/package.json
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/ingress-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/pubsub.ts
  apps/server/src/utils/date-utils.ts
  apps/web/src/app/(logged-in)/initial-setup-subscription.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/lib/urql/urql-client.ts
  pnpm-lock.yaml
Due: prettier --write

Filter ads
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/schema/integrations/ingress-operations.ts
Due: prettier --write

Save Ads, Accounts and Insights
  apps/server/package.json
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/contexts/channels/integration-util.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/ingress-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/utils/data-object-utils.ts
  apps/server/src/utils/date-utils.ts
  apps/server/src/utils/express-utils.ts
  apps/server/src/utils/sns-subscription-utils.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240419165057_create_ad_tables/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Fix refresh endpoint
  apps/server/src/index.ts
Due: prettier --write

Add channel data refresh sns
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/sns.tf
Due: terraform fmt

Force sequential execution of data refresh
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

Don't use transaction in ad data saving
  apps/server/src/contexts/channels/integration-helper.ts
Due: prettier --write

Add more logs in subscription
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(logged-in)/initial-setup-subscription.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
Due: prettier --write

Add delay before the first publish
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/integrations/integration-operations.ts
Due: prettier --write

Build for arm as well
  .github/workflows/build-deploy-service.yml
  package.json
Due: none
