Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

route53 record
  infrastructure/modules/environment/frontend.tf
Due: terraform fmt

disable button when isPending
  apps/backoffice/src/app/emulate/page.tsx
Due: prettier --write

integration errored state
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Due: prettier --write

update README.md
  README.md
  apps/landing-page/README.md
Due: prettier --write

replace NEXT_PUBLIC_REAL_GRAPHQL_ENDPOINT with NEXT_PUBLIC_GRAPHQL_ENDPOINT
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
Due: prettier --write

deploy all vercel in one workflow
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/deploy-web.yml
Due: none

404-emulate-organization-admins (#410)
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/deploy-web.yml
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
Due: prettier --write

fix uses path in deploy vercel
  .github/workflows/deploy-vercel.yml
Due: none

rename workflows
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Due: none

404-emulate-organization-admins (#411)
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Due: none

Revert "404-emulate-organization-admins (#411)"
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Due: none

Revert "404-emulate-organization-admins (#410)"
  .github/workflows/deploy-landing-page.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/deploy-web.yml
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
Due: prettier --write

replace NEXT_PUBLIC_REAL_GRAPHQL_ENDPOINT with NEXT_PUBLIC_GRAPHQL_ENDPOINT (#412)
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
Due: prettier --write

Revert "replace NEXT_PUBLIC_REAL_GRAPHQL_ENDPOINT with NEXT_PUBLIC_GRAPHQL_ENDPOINT (#412)"
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
Due: prettier --write

deploy all vercel in one workflow
  .github/workflows/deploy-landing-page.yml
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Due: none

deploy all vercel in one workflow (#413)
  .github/workflows/deploy-landing-page.yml
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Due: none

remove vercel insights/analytics from backoffice
  apps/backoffice/package.json
  apps/backoffice/src/app/layout.tsx
  apps/backoffice/src/components/misc/logo-full.tsx
  pnpm-lock.yaml
Due: prettier --write

save tokens in admin
  apps/backoffice/src/app/api/save-tokens/route.ts
  apps/backoffice/src/components/user-button/user-button.tsx
  apps/backoffice/src/env.mjs
  apps/backoffice/src/middleware.ts
  apps/channel-report/package.json
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/env.mjs
  apps/web/src/middleware.ts
  turbo.json
Due: prettier --write

remove non used logos
  apps/backoffice/public/wide-logo.svg
  apps/backoffice/src/components/misc/logo-simple.tsx
Due: prettier --write

update pnpm
  package.json
Due: none

remove temporarily logger error webhook
  packages/logger/src/index.ts
Due: prettier --write

remove temporarily logger error webhook (#416)
  packages/logger/src/index.ts
Due: prettier --write

improve refresh data flow
  apps/channel-report/src/index.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/report-process.ts
Due: prettier --write

improve refresh data flow (#418)
  apps/channel-report/src/index.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/report-process.ts
Due: prettier --write

ad report status to redis sequentially
  packages/channel-utils/src/report-async-start.ts
  packages/database/prisma/migrations/20240825095644_composite_idx_insights/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

ad report status to redis sequentially (#419)
  packages/channel-utils/src/report-async-start.ts
  packages/database/prisma/migrations/20240825095644_composite_idx_insights/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

376 introduce errored integration (#409)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/components/user-button/user-button.tsx
Due: prettier --write

404-emulate-organization-admins (#414)
  apps/backoffice/package.json
  apps/backoffice/public/wide-logo.svg
  apps/backoffice/src/app/api/save-tokens/route.ts
  apps/backoffice/src/app/layout.tsx
  apps/backoffice/src/components/misc/logo-full.tsx
  apps/backoffice/src/components/misc/logo-simple.tsx
  apps/backoffice/src/components/user-button/user-button.tsx
  apps/backoffice/src/env.mjs
  apps/backoffice/src/middleware.ts
  apps/channel-report/package.json
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/env.mjs
  apps/web/src/middleware.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

save tokens to web app when emulate
  apps/backoffice/src/app/emulate/actions.ts
  apps/backoffice/src/middleware.ts
  apps/web/src/app/(unauthenticated)/sign-out/page.tsx
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/middleware.ts
Due: prettier --write

keep datapoints as bigints
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web-old/src/app/[locale]/(logged-in)/insights/spend.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/cards-call.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/cards.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/utils/src/object-helper.ts
Due: prettier --write

Use embed instead of iFrame in tiktok
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/iframe-helper.ts
  packages/channel/src/iframe-cacheable.ts
  packages/ui/package.json
  packages/ui/src/embed.tsx
  packages/ui/src/iframe.tsx
  packages/utils/src/typesctipt-utils.ts
Due: prettier --write

save tokens to web app when emulate (#420)
  apps/backoffice/src/app/emulate/actions.ts
  apps/backoffice/src/middleware.ts
  apps/web/src/app/(unauthenticated)/sign-out/page.tsx
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/middleware.ts
Due: prettier --write

keep datapoints as bigints (#422)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web-old/src/app/[locale]/(logged-in)/insights/spend.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/cards-call.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/cards.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/utils/src/object-helper.ts
Due: prettier --write

Use embed instead of iFrame in tiktok (#423)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/iframe-helper.ts
  packages/channel/src/iframe-cacheable.ts
  packages/ui/package.json
  packages/ui/src/embed.tsx
  packages/ui/src/iframe.tsx
  packages/utils/src/typesctipt-utils.ts
Due: prettier --write

redirect instead of push in sign-in for backoffice
  apps/backoffice/package.json
  apps/backoffice/src/app/api/save-tokens/route.ts
  apps/backoffice/src/env.mjs
  apps/landing-page/package.json
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/env.mjs
Due: prettier --write

redirect instead of push in sign-in for backoffice (#424)
  apps/backoffice/package.json
  apps/backoffice/src/app/api/save-tokens/route.ts
  apps/backoffice/src/env.mjs
  apps/landing-page/package.json
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/env.mjs
Due: prettier --write

add more logs in backoffice middleware
  apps/backoffice/src/app/emulate/actions.ts
  apps/backoffice/src/middleware.ts
Due: prettier --write

add more logs in backoffice middleware (#425)
  apps/backoffice/src/app/emulate/actions.ts
  apps/backoffice/src/middleware.ts
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
