Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

removed match from backoffice as well
  apps/backoffice/src/middleware.ts
Due: prettier --write

matcher warning fix (#671)
  apps/backoffice/src/middleware.ts
  apps/web/src/middleware.ts
Due: prettier --write

Revert "matcher warning fix (#671)"
  apps/backoffice/src/middleware.ts
  apps/web/src/middleware.ts
Due: prettier --write

turbo fix for "port already in use"
  turbo.json
Due: none

turbo fix for "port already in use" (#674)
  turbo.json
Due: none

make sure that AdId exists when saving insights
  packages/channel-utils/src/insights-utils.ts
Due: prettier --write

add context to isRootOrg
  apps/server/src/schema/builder.ts
Due: prettier --write

minor
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  apps/web/src/components/buttons/color-scheme-toggle.tsx
Due: prettier --write

comments main flow w/o tagged users
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/insights/comments/comment.tsx
  apps/web/src/components/insights/comments/comments-list.tsx
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/graphql/comments.graphql
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/format-utils.ts
  packages/utils/src/date-utils.ts
  packages/utils/src/shared-schemas.ts
Due: prettier --write

creativeName
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Due: prettier --write

schema
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/comment/comment-types.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241109113244_comments/migration.sql
  packages/database/prisma/migrations/20241109122504_comments/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

fixes and graphql files implement
  apps/server/src/schema/comment/comment-operations.ts
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/graphql/comments.graphql
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

creative insights
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/database/prisma/migrations/20241110162604_ads_creative_id_rename/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

new fiels in userdto
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-types.ts
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Due: prettier --write

validation improvement
  apps/server/src/schema/comment/comment-operations.ts
  packages/utils/src/shared-schemas.ts
Due: prettier --write

remove saveCreatives
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
Due: prettier --write

edit comment + allow ctrl+enter to submit comment
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/atoms/comment-atoms.ts
  apps/web/src/components/insights/comments/comment-options.tsx
  apps/web/src/components/insights/comments/comment.tsx
  apps/web/src/components/insights/comments/comments.tsx
Due: prettier --write

delete comment
  apps/server/src/schema/comment/comment-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/components/insights/comments/comment-options.tsx
  apps/web/src/components/insights/comments/comment.tsx
  apps/web/src/components/insights/comments/comments-list.tsx
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/graphql/comments.graphql
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

inline_policy argument is deprecated
  infrastructure/modules/service/service_iam.tf
Due: terraform fmt

fixes around meta creatives
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/insights-utils.ts
Due: prettier --write

fixes around meta creatives (#676)
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/insights-utils.ts
Due: prettier --write

migrate only on server
  .github/workflows/build-deploy-service.yml
Due: none

google channel verification
  infrastructure/modules/environment/route53.tf
Due: terraform fmt

increase the exchange cacheable to 10 days
  packages/channel-utils/src/currency-to-eur-cacheable.ts
Due: prettier --write

don't join on tables that we don't need
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

privacy policy page
  apps/landing-page/src/app/(site)/privacy-policy/page.tsx
  apps/landing-page/src/app/(site)/terms-and-conditions/page.tsx
  apps/landing-page/src/components/Footer/index.tsx
Due: prettier --write

privacy policy page (#683)
  apps/landing-page/src/app/(site)/privacy-policy/page.tsx
  apps/landing-page/src/app/(site)/terms-and-conditions/page.tsx
  apps/landing-page/src/components/Footer/index.tsx
Due: prettier --write

new integration subscription event
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/layout.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/src/integration-helper.ts
  packages/pubsub/src/index.ts
Due: prettier --write

subscriptions implementation
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/subscriptions.tsx
  apps/web/src/app/urql-provider.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/lib/urql/urql-client-side-client.ts
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/lib/urql/urql-options.ts
  apps/web/src/middleware.ts
Due: prettier --write

import fix
  apps/web/src/app/layout.tsx
Due: prettier --write

TikTok and LinkedIn now save creatives
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Due: prettier --write

add comments
  packages/channel/src/insights-query-builder.ts
Due: prettier --write

TikTok and LinkedIn now save creatives (#684)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Due: prettier --write

678: don't join on tables that we don't need (#679)
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

fix google channel verification
  infrastructure/modules/environment/route53.tf
Due: terraform fmt

validate linkedIn format as string
  packages/channel-linkedin/src/channel-linkedin.ts
Due: prettier --write

remove useless stuff
  apps/server/src/schema/integrations/integration-operations.ts
Due: prettier --write

Update packages/channel/src/integration-helper.ts
  packages/channel/src/integration-helper.ts
Due: prettier --write

641 graphql subscriptions + implementation on onboarding (#681)
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/subscriptions.tsx
  apps/web/src/app/urql-provider.tsx
  apps/web/src/lib/urql/urql-client-side-client.ts
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/lib/urql/urql-options.ts
  apps/web/src/middleware.ts
  packages/channel/src/integration-helper.ts
  packages/pubsub/src/index.ts
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
