Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

.lintstagedrc.json:

{
  "*.graphql": ["prettier --write"],
  "*.ts": ["prettier --write"],
  "*.tsx": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.tf": "terraform fmt",
  "*.prisma": "prisma format --schema packages/database/prisma/schema.prisma"
}

add filter limit to TikTok (#546)
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Due: prettier --write

add campaignId and adSetId in groupBy
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Due: prettier --write

add adSetName and campaignName to search
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/contexts/insights.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

add campaignId and adSetId in groupBy (#547)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/contexts/insights.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Due: prettier --write

handle insights errors
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Due: prettier --write

handle insights errors (#539)
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Due: prettier --write

Update apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Due: prettier --write

fix
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Due: prettier --write

fixed settings button re-rendering insights (#538)
  apps/web/src/components/dropdowns/color-scheme-picker/color-scheme-picker.tsx
Due: prettier --write

improved org data fetching via jotai & added max integrations logic p… (#533)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Due: prettier --write

show ad previews position change (#540)
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Due: prettier --write

Generalize service Dockerfile
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-services-production.yml
  Service.Dockerfile
  apps/server/Dockerfile
Due: none

fix: quartarly filter works
  apps/server/src/utils/insights-query-builder.ts
Due: prettier --write

fix: daily now works with the date filter applied
  apps/server/src/schema/integrations/integration-types.ts
Due: prettier --write

511 time contraints bug fixes (#544)
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
Due: prettier --write

don't allow unused variables
  apps/server/src/index.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/user/user-operations.ts
  packages/config-eslint/library.cjs
Due: prettier --write

refactoring
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/web/src/components/buttons/feedback-button.tsx
  packages/database/prisma/migrations/20240927093413_feedbacks/migration.sql
  packages/utils/src/shared-schemas.ts
Due: prettier --write

feat: added sendFeedback endpoint
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240923184925_feedback/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

updated message schema
  apps/server/src/schema/feedback/feedback-operation.ts
  packages/utils/src/shared-schemas.ts
Due: prettier --write

refactoring
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240927093413_feedbacks/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

shared schemas for send feedback schema
  apps/web/src/components/buttons/feedback-button.tsx
  packages/utils/src/index.ts
  packages/utils/src/shared-schemas.ts
Due: prettier --write

send feedback web
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
  apps/web/src/util/schemas/user-schemas.ts
Due: prettier --write

removed userid
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

added query
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

543 added sendFeedback endpoint (#545)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
  packages/database/prisma/migrations/20240923184925_feedback/migration.sql
  packages/database/prisma/migrations/20240927093413_feedbacks/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/index.ts
  packages/utils/src/shared-schemas.ts
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

fix feedback email subject
  apps/server/src/email.ts
Due: prettier --write

Disabled sending email on feedbacks
  apps/server/src/email.ts
  apps/server/src/schema/feedback/feedback-operation.ts
Due: prettier --write

lint error fix
  packages/channel-utils/src/aes-util.ts
Due: prettier --write

Auto-update packages
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: none

loading state for async buttons instead of disabled
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
Due: prettier --write

fix eslint error
  packages/channel-utils/src/aes-util.ts
Due: prettier --write

loading state for async buttons instead of disabled (#557)
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  packages/channel-utils/src/aes-util.ts
Due: prettier --write

fix feedbacks migration
  .idea/sqldialects.xml
  packages/database/prisma/migrations/20240927093413_feedbacks/migration.sql
  packages/database/prisma/migrations/20241001055530_feedbacks/migration.sql
Due: none

Revert "Auto-update packages (#554)"
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: none

Revert "Revert "Auto-update packages (#554)""
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: none

don't return in express middleware
  apps/server/src/index.ts
  apps/server/src/utils/rate-limiter.ts
  apps/server/src/utils/sns-subscription-utils.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Due: prettier --write

Update packages 241001 (#560)
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/utils/rate-limiter.ts
  apps/server/src/utils/sns-subscription-utils.ts
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/redis/src/ioredis.ts
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write

add jest
  apps/web/package.json
  pnpm-lock.yaml
Due: none

husky: run tests on web on pre-commit
  .husky/pre-commit
Due: none

update husky
  .husky/pre-commit
Due: none
