Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

added tests for time-range function
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
  packages/mappings/src/tier-mapping.ts
Due: prettier --write

getting the highest tier org/refactoring
  packages/channel-utils/src/date-utils.ts
  packages/mappings/src/tier-mapping.ts
Due: prettier --write

prettier fix
  packages/mappings/src/tier-mapping.ts
Due: prettier --write

test-updates
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
Due: prettier --write

updated splitTimeRange function
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
Due: prettier --write

timeRangeHelper function fixed
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
  packages/utils/src/date-utils.ts
Due: prettier --write

512 Added max-recency boundries (#526)
  packages/channel-utils/package.json
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/package.json
  packages/mappings/src/tier-mapping.ts
  packages/utils/src/date-utils.ts
  pnpm-lock.yaml
Due: prettier --write

google analytics
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/google-analytics.tsx
Due: prettier --write

cookies consent
  apps/landing-page/src/components/google-analytics.tsx
Due: prettier --write

add public feedback environment variable
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

add public feedback environment variable (#577)
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Due: terraform fmt

refactored google analytics to use the recommended structure
  apps/landing-page/package.json
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/cookies-consent.tsx
  apps/landing-page/src/components/google-analytics.tsx
  apps/landing-page/src/env.mjs
  pnpm-lock.yaml
Due: prettier --write

google analytics for web
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/env.mjs
  pnpm-lock.yaml
Due: prettier --write

(temp fix) silence sass deprecations warning
  apps/web/next.config.mjs
Due: none

delete .idea folder
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/libraries/test_package.xml
  .idea/libraries/test_package2.xml
  .idea/libraries/test_package3.xml
  .idea/libraries/ts_commonjs_default_export.xml
  .idea/libraries/ts_commonjs_default_export2.xml
  .idea/libraries/ts_commonjs_default_export3.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/turboviewer.iml
  .idea/vcs.xml
Due: none

574 cookies consent google analytics setup (#575)
  apps/landing-page/package.json
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/cookies-consent.tsx
  apps/landing-page/src/env.mjs
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/env.mjs
  pnpm-lock.yaml
Due: prettier --write

(temp fix) silence sass deprecations warning (#578)
  apps/web/next.config.mjs
Due: none

delete .idea folder (#581)
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/libraries/test_package.xml
  .idea/libraries/test_package2.xml
  .idea/libraries/test_package3.xml
  .idea/libraries/ts_commonjs_default_export.xml
  .idea/libraries/ts_commonjs_default_export2.xml
  .idea/libraries/ts_commonjs_default_export3.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/turboviewer.iml
  .idea/vcs.xml
Due: none

CurrentOrg in feedback & feedback posts on slack
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/feedback/feedback-helper.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241005135857_feedbacks_organization/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

refactoring
  apps/server/src/config.ts
  apps/server/src/schema/feedback/feedback-helper.ts
  packages/database/prisma/schema.prisma
  turbo.json
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

added right env
  apps/server/src/config.ts
  apps/server/src/schema/feedback/feedback-helper.ts
Due: prettier --write

CurrentOrg in feedback & feedback posts on slack (#580)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/config.ts
  apps/server/src/schema/feedback/feedback-helper.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241005135857_feedbacks_organization/migration.sql
  packages/database/prisma/schema.prisma
  turbo.json
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

change lefteris email in aws
  infrastructure/environments/management/users.tf
Due: terraform fmt

filter by integration
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

filter by integration (#582)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

filter by integration
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

filter by integration (#583)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
Due: prettier --write

user button minor improvement
  apps/web/src/components/user-button/user-button.module.scss
Due: none

sublinks logic & styling + refactor of default route and path handling in relation to nav buttons
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/summary/layout.tsx
  apps/web/src/app/(authenticated)/summary/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/components/buttons/sub-navlink-button/sub-navlink-button.module.scss
  apps/web/src/components/buttons/sub-navlink-button/sub-navlink-button.tsx
  apps/web/src/components/misc/logo-full.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/components/user-button/user-button.module.scss
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/middleware.ts
Due: prettier --write

chart w/ correct metrics
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/app/(authenticated)/summary/page.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/util/url-query-utils.ts
Due: prettier --write

summary graphics
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/app/(authenticated)/summary/components/graphics.tsx
  apps/web/src/app/(authenticated)/summary/page.tsx
Due: prettier --write

insights grid refactor to be more generalized & separate atoms for summary's insights data
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/summary/page.tsx
  apps/web/src/app/atoms/insights-atoms.ts
  apps/web/src/components/insights/insights-grid.tsx
Due: prettier --write

get integration on grouping & improved heading title on insight card
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Due: prettier --write

placeholder chart
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/app/(authenticated)/summary/page.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/util/charts-utils.ts
Due: prettier --write

insights top ads
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/summary/page.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/components/insights/insights-grid.tsx
Due: prettier --write

no results found styling improvement
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
Due: prettier --write

integration on insights
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Due: prettier --write

initial top ads w/ middleware logic for summary page
  apps/web/src/app/(authenticated)/summary/page.tsx
  apps/web/src/middleware.ts
Due: prettier --write

optimized re-renders
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/middleware.ts
Due: prettier --write

graphics update
  apps/web/src/app/(authenticated)/summary/components/graphics.tsx
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
