Repository adsviewer/turboviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, terraform fmt, prisma format --schema packages/database/prisma/schema.prisma

improved "mark all as read" button styles
  apps/web/src/components/notifications/notifications-button.module.scss
  apps/web/src/components/notifications/notifications-button.tsx
Due: prettier --write

improved mark all as read styling
  apps/web/src/components/notifications/notifications-button.module.scss
Due: none

717: fix mantine timezone in date picker
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
  apps/web/src/util/mantine-utils.ts
Due: prettier --write

717: don't truncate date when returning data
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

717 groupby position yield wrong results (#718)
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
  apps/web/src/util/mantine-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

thresholds layout & logic
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/thresholds.tsx
  apps/web/src/components/search/search.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/url-query-utils.ts
  pnpm-lock.yaml
Due: prettier --write

added thresholds to top ads, too
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/thresholds/thresholds.tsx
Due: prettier --write

471: create eventbridge
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/local/local.tf
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/payment_eventbridge.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
Due: prettier --write, terraform fmt

471: create checkout session
  apps/server/package.json
  apps/server/src/config.ts
  apps/server/src/contexts/payment/stripe.ts
  apps/server/src/schema/index.ts
  apps/server/src/schema/payment/payment-operations.ts
  apps/server/src/schema/payment/payment-types.ts
  packages/database/prisma/schema.prisma
  packages/utils/src/config.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

719: fix min/max thresholds
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Due: prettier --write

Update apps/web/src/components/thresholds/thresholds.tsx
  apps/web/src/components/thresholds/thresholds.tsx
Due: prettier --write

formatting
  apps/web/src/components/thresholds/thresholds.tsx
Due: prettier --write

threshold data type fix
  apps/web/src/components/thresholds/thresholds.tsx
Due: prettier --write

thresholds layout & logic (#719)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/search/search.tsx
  apps/web/src/components/thresholds/thresholds.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/url-query-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  pnpm-lock.yaml
Due: prettier --write

Fix: right insight values in google integration
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Fix: insights fixed
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
  packages/database/prisma/migrations/20241208192957_updated_device_enums/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Fix: grouped by date/adid and created the right insight
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Due: prettier --write

Feat: Added pinterest auth
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-pinterest/.eslintrc.cjs
  packages/channel-pinterest/package.json
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/channel-pinterest/src/config.ts
  packages/channel-pinterest/src/index.ts
  packages/channel-pinterest/tsconfig.json
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

471: stripe webhook works
  apps/server/package.json
  apps/server/src/contexts/payment/stripe-webhook-types.ts
  apps/server/src/contexts/payment/stripe.ts
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Feat: Authentication for pinterest
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/public/integrations/pinterest-logo-icon.svg
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

get and update insights per row user preferences
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/user/preferences/preferences-operations.ts
  apps/server/src/schema/user/preferences/preferences-types.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  apps/web/src/graphql/user.graphql
  packages/database/prisma/migrations/20241208181934_preferences/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

722: remove Onboarding milestone if there are ad accounts in org
  apps/server/src/auth.ts
Due: prettier --write

722: remove Onboarding milestone if there are ad accounts in org (#723)
  apps/server/src/auth.ts
Due: prettier --write

Fix: Updated deviceEnums
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/database/prisma/migrations/20241210114900_new_aligned_device_enum/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

upgrade to node 22
  Service.Dockerfile
Due: none

724: retry failed reports
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/report-process.ts
Due: prettier --write

709 google ingress bug (#715)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
  packages/database/prisma/migrations/20241208192957_updated_device_enums/migration.sql
  packages/database/prisma/migrations/20241210114900_new_aligned_device_enum/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

improvements
  apps/server/src/schema/user/preferences/preferences-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/insights/insights-grid.tsx
Due: prettier --write

724: retry failed reports (#725)
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/report-process.ts
Due: prettier --write

default date range in analytical view
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/middleware.ts
Due: prettier --write

get and update insights per row user preferences (#720)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/user/preferences/preferences-operations.ts
  apps/server/src/schema/user/preferences/preferences-types.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  apps/web/src/graphql/user.graphql
  packages/database/prisma/migrations/20241208181934_preferences/migration.sql
  packages/database/prisma/schema.prisma
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

default date range in analytical view (#727)
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/middleware.ts
Due: prettier --write

comments for adIds
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/comment/comment-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/graphql/comments.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241211131307_comment_ad_id/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/src/types.ts
Due: prettier --write, prisma format --schema packages/database/prisma/schema.prisma

Path conditions:
  prettier --write: (((any of: *.graphql) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.md)
  terraform fmt: any of: *.tf
  prisma format --schema packages/database/prisma/schema.prisma: any of: *.prisma
